@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,400;1,700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
}

p {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}
input:focus,
button:focus,
textarea:focus,
select:focus {
  outline: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

/* Breakpoint sizes */
/**/
/* Create the mixin (usually in a separate .scss file) */
body {
  font-family: "Roboto", sans-serif;
  background-image: url("../images/bc_main.jpg");
  background-position: center center;
  background-size: 100% 100%;
}

.main-wrapper {
  background-image: url("../images/bc_main_sec.png");
  background-position: center right;
  background-size: 50% 100%;
  background-repeat: no-repeat;
  height: 100vh;
}

header {
  background-color: #FFFFFF;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}
@media only screen and (max-width: 1200px) {
  .container {
    max-width: 992px;
  }
}
@media only screen and (max-width: 991px) {
  .container {
    max-width: 768px;
  }
}
@media only screen and (max-width: 767px) {
  .container {
    max-width: 479px;
  }
}

.header_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
}

.logo_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (max-width: 991px) {
  .logo_wrapper {
    margin-left: 5px;
  }
}
.logo_img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}
.logo_img_wrapper {
  width: 50px;
  height: 50px;
}
@media only screen and (max-width: 991px) {
  .logo_img_wrapper {
    width: 35px;
    height: 35px;
  }
}
@media only screen and (max-width: 479px) {
  .logo_img_wrapper {
    width: 25px;
    height: 25px;
  }
}
.logo_text {
  font-weight: bold;
  font-size: 30px;
  margin-left: 15px;
  color: #000000;
}
@media only screen and (max-width: 991px) {
  .logo_text {
    font-size: 25px;
  }
}
@media only screen and (max-width: 767px) {
  .logo_text {
    font-size: 20px;
    margin-left: 7px;
  }
}
@media only screen and (max-width: 479px) {
  .logo_text {
    font-size: 16px;
  }
}

.flag {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}

.nav_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 -20px;
}
@media only screen and (max-width: 991px) {
  .nav_menu {
    padding: 0 -10px;
  }
}
.nav_menu__item {
  margin: 0 20px;
}
@media only screen and (max-width: 991px) {
  .nav_menu__item {
    margin: 0 10px;
  }
}
.nav_menu__item:hover {
  cursor: pointer;
}
.nav_menu__item_flag_wrapper {
  width: 24px;
  height: 24px;
  border: 1px solid #CBCCCE;
  border-radius: 5px;
}
@media only screen and (max-width: 991px) {
  .nav_menu__item_flag_wrapper {
    width: 15px;
    height: 15px;
  }
}
.nav_menu__item_link {
  font-size: 16px;
  font-weight: 500;
  color: #11181F;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
@media only screen and (max-width: 767px) {
  .nav_menu__item_link {
    font-size: 12px;
  }
}
@media only screen and (max-width: 479px) {
  .nav_menu__item_link {
    font-size: 10px;
  }
}
.nav_menu__item_link:hover {
  color: #0E82EF;
}

.main_block {
  margin-top: 100px;
}
.main_title {
  font-size: 42px;
  font-weight: 500;
  line-height: 130%;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 18px;
  font-weight: 400;
  color: #585D62;
}

.form_left_col {
  width: 30%;
}
.form_exchange {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.form_right_col {
  background: rgba(255, 255, 255, 0.65);
  border: 1px solid #D9DADB;
  -webkit-box-shadow: inset -10px 10px 24px rgba(255, 255, 255, 0.56);
          box-shadow: inset -10px 10px 24px rgba(255, 255, 255, 0.56);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  border-radius: 35px;
  padding: 30px;
  width: 67%;
  margin-top: 28px;
}

.props_inputs_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.props_input {
  width: 100%;
}
.props_input_wrapper {
  width: 32%;
}
.props_input_label {
  font-size: 16px;
  color: #11181F;
  margin-bottom: 5px;
  display: block;
}
.props_title {
  font-size: 26px;
  line-height: 130%;
  margin-bottom: 20px;
}
.props_btn_start_exchange_wrapper {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.props_text_agree {
  width: 40%;
  margin-left: 10px;
  font-size: 14px;
  -ms-flex-item-align: center;
      align-self: center;
}

.dropdown_wrapper {
  position: relative;
}
.dropdown_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}
.dropdown_header:hover {
  cursor: pointer;
}
.dropdown_header:hover .dropdown_title {
  color: blue;
}
.dropdown_header_left_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.dropdown_img_coin {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}
.dropdown_img_coin_wrapper {
  width: 24px;
  height: 24px;
  -o-object-fit: cover;
     object-fit: cover;
}
.dropdown_title {
  margin-left: 10px;
  font-size: 16px;
  color: #11181F;
  font-weight: 600;
}
.dropdown_input {
  background: #E5F2FF;
  border: none;
  padding-left: 15px;
  color: #0E82EF;
  font-size: 16px;
  font-weight: 600;
  -webkit-box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.03);
          box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.03);
  border-radius: 15px !important;
  height: 50px;
  width: 100%;
}
.dropdown_input_wrapper {
  position: relative;
}
.dropdown_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 7px;
}
.dropdown_text {
  font-size: 12px;
  color: #6c757d;
}
.dropdown_text_amount {
  font-size: 12px;
  color: #11181F;
}
.dropdown_options_wrapper {
  display: none;
  position: absolute;
  top: 45px;
  left: 0;
  z-index: 100;
  width: 100%;
  background: #fff;
  border: 1px solid #B3DAFF;
  -webkit-box-shadow: 0 7px 25px rgba(30, 120, 255, 0.25);
          box-shadow: 0 7px 25px rgba(30, 120, 255, 0.25);
  border-radius: 0 0 20px 20px;
  max-height: 400px;
  overflow-y: auto;
}
.dropdown_option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 10px 15px;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.dropdown_option_wrapper:last-of-type:hover {
  border-radius: 0 0 20px 20px;
}
.dropdown_option:hover {
  color: #1e2125;
  background-color: #e9ecef;
  cursor: pointer;
}
.dropdown_option_left_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.dropdown_option_left_col .dropdown_img_coin_wrapper {
  margin-left: 5px;
}
.dropdown_coin_name {
  color: #11181F;
  font-size: 16px;
  margin-left: 5px;
}
.dropdown_coin_abbr {
  color: #888B8F;
  font-size: 12px;
  line-height: 17px;
}
.dropdown_top {
  margin-bottom: 15px;
}
.dropdown_general {
  background: #FFFFFF;
  border: 1px solid #B3DAFF;
  -webkit-box-shadow: 0 7px 25px rgba(30, 120, 255, 0.25);
          box-shadow: 0 7px 25px rgba(30, 120, 255, 0.25);
  border-radius: 15px;
  padding: 15px;
  position: relative;
}
.dropdown_arrow_img {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.coin_abbr {
  position: absolute;
  top: 0;
  right: 10px;
  font-weight: 500;
  font-size: 12px;
  color: #11181F;
  line-height: 50px;
}

.btn_general {
  display: block;
  padding: 0 30px;
  height: 53px;
  line-height: 53px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 1.1px;
  background: -o-radial-gradient(28.45% 74.22%, 71.55% 129.69%, #8D54E0 0%, #8DC8FF 96.2%);
  background: radial-gradient(71.55% 129.69% at 28.45% 74.22%, #8D54E0 0%, #8DC8FF 96.2%);
  -webkit-box-shadow: 0 9px 20px rgba(142, 95, 227, 0.4);
          box-shadow: 0 9px 20px rgba(142, 95, 227, 0.4);
  border-radius: 40px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  border: 0;
}
.btn_general:hover {
  -webkit-box-shadow: 0 9px 20px rgba(142, 95, 227, 0.4);
          box-shadow: 0 9px 20px rgba(142, 95, 227, 0.4);
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.05)), to(rgba(0, 0, 0, 0.05))), radial-gradient(71.55% 129.69% at 28.45% 74.22%, #8D54E0 0%, #8DC8FF 96.2%);
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), -o-radial-gradient(28.45% 74.22%, 71.55% 129.69%, #8D54E0 0%, #8DC8FF 96.2%);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), radial-gradient(71.55% 129.69% at 28.45% 74.22%, #8D54E0 0%, #8DC8FF 96.2%);
}
.btn_secondary {
  padding: 10px 40px;
  border-radius: 40px;
  font-weight: 700;
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  border: 2px solid #4122FF;
  color: #4122FF;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}
.btn_secondary:hover {
  background: #4122FF;
  color: #fff;
  cursor: pointer;
}
@media only screen and (max-width: 479px) {
  .btn_auth {
    font-size: 10px;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
  }
}
.btn_add_coin_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media only screen and (max-width: 767px) {
  .btn_authorization {
    display: none;
  }
}
.btn_authorization_mobile {
  display: none;
}
@media only screen and (max-width: 767px) {
  .btn_authorization_mobile {
    display: block;
  }
}
.btn_cabinet_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.btn_cabinet_user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  background: -o-radial-gradient(28.45% 74.22%, 71.55% 129.69%, #8D54E0 0%, #8DC8FF 96.2%);
  background: radial-gradient(71.55% 129.69% at 28.45% 74.22%, #8D54E0 0%, #8DC8FF 96.2%);
  -webkit-box-shadow: 0 9px 20px rgba(142, 95, 227, 0.4);
          box-shadow: 0 9px 20px rgba(142, 95, 227, 0.4);
  border-radius: 40px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  border: 0;
  margin-right: 5px;
}
@media only screen and (max-width: 767px) {
  .btn_cabinet_user {
    width: 30px;
    height: 30px;
  }
}
.btn_cabinet_user img {
  width: 20px;
  height: 20px;
}
@media only screen and (max-width: 767px) {
  .btn_cabinet_user img {
    width: 15px;
    height: 15px;
  }
}
.btn_cabinet_text {
  color: #000000;
  margin-right: 5px;
}
@media only screen and (max-width: 767px) {
  .btn_cabinet_text {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .btn_logout {
    margin-right: 5px;
  }
}
.btn_logout svg {
  width: 20px;
  height: 20px;
}
@media only screen and (max-width: 767px) {
  .btn_logout svg {
    width: 15px;
    height: 15px;
  }
}

.btns_auth_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input_general {
  background: #FFFFFF;
  border: 1px solid #0E82EF;
  -webkit-box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.03);
          box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.03);
  border-radius: 15px;
  height: 50px;
  width: 100%;
  padding: 10px;
}

.input_file_wrapper {
  margin-bottom: 20px;
}
.input_file_wrapper .btn-tertiary {
  color: #555;
  padding: 0;
  line-height: 40px;
  width: 100%;
  margin: auto;
  display: block;
  border: 1px solid #0E82EF;
  border-radius: 15px;
}
.input_file_wrapper .btn-tertiary:hover, .input_file_wrapper .example-2 .btn-tertiary:focus {
  color: #888;
  border-color: #0E82EF;
  border-radius: 15px;
}
.input_file_wrapper .input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.input_file_wrapper .input-file + .js-labelFile {
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 10px;
  cursor: pointer;
}
.input_file_wrapper .input-file + .js-labelFile .icon:before {
  content: "\f093";
}
.input_file_wrapper .input-file + .js-labelFile.has-file .icon:before {
  content: "\f00c";
  color: #5AAC7B;
}

.opened {
  display: block;
}

.text_get {
  color: #8D54E0;
  font-size: 13px;
  line-height: 19.5px;
  margin-bottom: 10px;
  font-weight: 500;
}

.text_give {
  color: #0E82EF;
  font-size: 13px;
  line-height: 19.5px;
  margin-bottom: 10px;
  font-weight: 500;
}

.hidden {
  display: none;
}

.approved_acc_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 100px;
}
.approved_acc_title {
  width: 50%;
  text-align: center;
  margin-bottom: 30px;
  font-size: 25px;
}

/* Breakpoint sizes */
/**/
/* Create the mixin (usually in a separate .scss file) */
.auth_text {
  color: #11181F;
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
}
@media only screen and (max-width: 767px) {
  .auth_text {
    margin-bottom: 15px;
  }
}
.auth_form_container {
  width: 550px;
  margin: 30px auto;
  border: 1px solid #CBCCCE;
  border-radius: 5px;
  padding: 30px;
  background-color: #ffffff;
}
@media only screen and (max-width: 767px) {
  .auth_form_container {
    width: 470px;
  }
}
@media only screen and (max-width: 479px) {
  .auth_form_container {
    width: 350px;
  }
}
.auth_btns_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.input_auth {
  margin-bottom: 20px;
}
@media only screen and (max-width: 767px) {
  .input_auth {
    margin-bottom: 10px;
  }
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  top: 6px;
}

/* Hide default HTML checkbox */
.switch input {
  display: none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #2196F3;
          box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.checkbox_wrapper {
  margin-bottom: 30px;
}
@media only screen and (max-width: 767px) {
  .checkbox_wrapper {
    margin-bottom: 15px;
  }
}
.checkbox_wrapper div {
  margin-bottom: 10px;
}
@media only screen and (max-width: 767px) {
  .checkbox_wrapper div {
    margin-bottom: 2px;
  }
}
.checkbox_label {
  margin-left: 10px;
}
.checkbox_label:hover {
  cursor: pointer;
}

.forgot_passw_text {
  display: block;
  text-decoration: underline;
  margin-bottom: 30px;
}
.forgot_passw_text:hover {
  cursor: pointer;
}

.invalid_data {
  color: red;
}

/* Breakpoint sizes */
/**/
/* Create the mixin (usually in a separate .scss file) */
.reserves__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #FFFFFF;
  border: 1px solid #B3DAFF;
  -webkit-box-shadow: 0 7px 25px rgba(30, 120, 255, 0.25);
          box-shadow: 0 7px 25px rgba(30, 120, 255, 0.25);
  border-radius: 20px;
  padding: 15px;
  margin-top: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.reserves__item_wrapper {
  width: 33%;
  padding: 0 15px;
}
@media only screen and (max-width: 767px) {
  .reserves__item_wrapper {
    width: 50%;
  }
}
@media only screen and (max-width: 479px) {
  .reserves__item_wrapper {
    width: 95%;
  }
}
.reserves__item_img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.reserves__item_img_wrapper {
  width: 24px;
  height: 24px;
}
.reserves__item_left_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.reserves__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}
@media only screen and (max-width: 479px) {
  .reserves__block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.reserves_btn_add {
  width: 32%;
}
@media only screen and (max-width: 767px) {
  .reserves_btn_add {
    width: 48%;
  }
}
@media only screen and (max-width: 479px) {
  .reserves_btn_add {
    margin-right: auto;
    margin-left: auto;
  }
}
.reserves_btn_add_block {
  margin-top: 50px;
}
@media only screen and (max-width: 479px) {
  .reserves_btn_add_block {
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
  }
}
.reserves_btns_edit_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.coin_name {
  margin-left: 8px;
  font-weight: 500;
}
.coin_edit_btn {
  margin-left: 10px;
}
@media only screen and (max-width: 991px) {
  .coin_edit_btn {
    margin-left: 4px;
  }
}
.coin_edit_btn svg {
  width: 20px;
  height: 20px;
}
@media only screen and (max-width: 991px) {
  .coin_edit_btn svg {
    width: 15px;
    height: 15px;
  }
}
.coin_edit_btn svg path:hover {
  fill: #0E82EF;
  cursor: pointer;
}

/* Breakpoint sizes */
/**/
/* Create the mixin (usually in a separate .scss file) */