<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Document</title>

</head>
<body>
<div class="content">
    <header>
        <div class="container">
            <div class="header_block">
                <div class="logo_wrapper">
                    <div class="logo_img_wrapper">
                        <a href="/">
                            <img src="/images/logo.png" alt="" class="logo_img">
                        </a>
                    </div>
                    <a href="/">
                        <p class="logo_text">HELMETSWAP</p>
                    </a>
                </div>
                <nav class="nav_menu_wrapper">
                    <ul class="nav_menu">
                        <li class="nav_menu__item"><a href="#" class="nav_menu__item_link">Выполнить обмен</a></li>
                        <li class="nav_menu__item"><a href="/reserves" class="nav_menu__item_link">Резервы</a></li>
                        <li class="nav_menu__item nav_menu__item_flag_wrapper"><img src="/images/ru.png" alt=""
                                                                                    class="flag"></li>
                        <li sec:authorize="!isAuthenticated()">
                            <div class="nav_menu__item">
                                <a href="/registration" class="btn_authorization btn_general">Авторизация</a>
                                <a href="/registration" class="btn_authorization_mobile"><img src="/images/user.svg"
                                                                                              alt=""></a>
                            </div>
                        </li>
                        <li sec:authorize="hasAnyAuthority('ROLE_USER', 'ROLE_ADMIN')" class="btns_auth_wrapper">
                            <div><a href="/account/history" class="btn_cabinet_wrapper"><span
                                    class="btn_cabinet_user"><img
                                    src="/images/user-1.svg" alt=""></span><span
                                    class="btn_cabinet_text">Личный кабинет</span></a></div>
                            <div><a href="/logout" class="btn_logout">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <!--! Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                                    <path d="M160 416H96c-17.67 0-32-14.33-32-32V128c0-17.67 14.33-32 32-32h64c17.67 0 32-14.33 32-32S177.7 32 160 32H96C42.98 32 0 74.98 0 128v256c0 53.02 42.98 96 96 96h64c17.67 0 32-14.33 32-32S177.7 416 160 416zM502.6 233.4l-128-128c-12.51-12.51-32.76-12.49-45.25 0c-12.5 12.5-12.5 32.75 0 45.25L402.8 224H192C174.3 224 160 238.3 160 256s14.31 32 32 32h210.8l-73.38 73.38c-12.5 12.5-12.5 32.75 0 45.25s32.75 12.5 45.25 0l128-128C515.1 266.1 515.1 245.9 502.6 233.4z"/>
                                </svg>
                            </a></div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div class="history_wrapper">
        <div class="container">
            <div class="account_header">
                <h4 class="account_title">Личный кабинет</h4>
                <div class="account_header_btns_wrapper">
                    <ul class="account_header_btns">
                        <li class="account_header_btn"><a th:href="@{/account/history}">История</a></li>
                        <li class="account_header_btn"><a th:href="@{/account/settings}">Настройки</a></li>
                    </ul>
                </div>
            </div>
            <tr th:each="order : ${orders}">
                <div class="history_items_wrapper">
                    <div class="history_items">
                        <div class="history_item_wrapper">
                            <div class="history_item">
                                <div class="history_item_left_col">
                                    <div class="history_item_title">Заявка #<span
                                            th:text="${order.id}">16601494675699</span></div>
                                    <p class="history_item_subtitle" th:text="${order.status}">( Предварительная заявка
                                        )</p>
                                    <div class="history_item_text_wrapper">
                                        <p class="history_item_text history_item_text__time"
                                           th:text="${order.createdTime}">10.08.2022 в 19:37:54</p>
                                        <p class="history_item_text" th:text="${order.currentCourse}">1 ETH - 0.07659598
                                            BTC</p>
                                    </div>
                                </div>
                                <div class="history_item_right_col">
                                    <p class="history_item_amount"><span th:text="${order.givenAmount}">7 </span><span
                                            th:text="${order.givenCoin}"></span></p>
                                    <div class="history_item_imgs_wrapper">
                                        <div class="history_item_img_wrapper">
                                            <img src="../static/images/bitcoin.png" alt="" class="history_item_img"
                                                 th:src="@{'https://exchanger-bucket.s3.eu-west-1.amazonaws.com/coin/image/'+${order.givenCoin}}">
                                        </div>
                                        <div class="history_item_img_wrapper__arrow">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                                <!--! Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                                                <path d="M438.6 278.6l-160 160C272.4 444.9 264.2 448 256 448s-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L338.8 288H32C14.33 288 .0016 273.7 .0016 256S14.33 224 32 224h306.8l-105.4-105.4c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160C451.1 245.9 451.1 266.1 438.6 278.6z"/>
                                            </svg>
                                        </div>
                                        <div class="history_item_img_wrapper">
                                            <img src="../static/images/bitcoin.png" alt="" class="history_item_img"
                                                 th:src="@{'https://exchanger-bucket.s3.eu-west-1.amazonaws.com/coin/image/'+${order.takenCoin}}">
                                        </div>
                                    </div>
                                    <div class="history_item_result_wallet_wrapper">
                                        <p class="history_item_result"><span
                                                th:text="${order.takenAmount}">0.52035479</span><span
                                                th:text="${order.takenCoin}"></span></p>
                                        <p class="history_item_wallet" th:text="${order.wallet}">
                                            1BoatSLRHtKNngkdXEeobR76b53LETtpyT</p>
                                    </div>
                                    <div class="history_item_btns_wrapper" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                                        <form th:action="@{/order/confirm/{id}(id=${order.id})}" method="post">
                                            <input class="history_item_btn_wrapper history_item_btn_wrapper_check"
                                               type="submit">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                                    <!--! Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                                                    <path d="M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z"/>
                                                </svg>
                                        </form>
                                        <form th:action="@{/order/cancel/{id}(id=${order.id})}" method="post">
                                            <input class="history_item_btn_wrapper history_item_btn_wrapper_cancel"
                                               type="submit">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                                    <!--! Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                                                    <path d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z"/>
                                                </svg>
                                        </form>
                                        <form th:action="@{/order/delete/{id}(id=${order.id})}" method="post">
                                            <input class="history_item_btn_wrapper history_item_btn_wrapper_remove"
                                               type="submit">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                                    <!--! Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                                                    <path d="M135.2 17.69C140.6 6.848 151.7 0 163.8 0H284.2C296.3 0 307.4 6.848 312.8 17.69L320 32H416C433.7 32 448 46.33 448 64C448 81.67 433.7 96 416 96H32C14.33 96 0 81.67 0 64C0 46.33 14.33 32 32 32H128L135.2 17.69zM394.8 466.1C393.2 492.3 372.3 512 346.9 512H101.1C75.75 512 54.77 492.3 53.19 466.1L31.1 128H416L394.8 466.1z"/>
                                                </svg>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
<footer>
    <div class="container">
        <div class="footer_wrapper">
            <div class="footer_top_row">
                <div class="footer_logo_wrapper">
                    <div class="logo_img_wrapper">
                        <a href="/">
                            <img src="/images/logo.png" alt="" class="logo_img">
                        </a>
                    </div>
                    <a href="/">
                        <p class="logo_text">HELMETSWAP</p>
                    </a>
                </div>
                <ul class="footer_col">
                    <li class="footer_col_item"><a href="/">Начать обмен</a></li>
                    <li class="footer_col_item"><a href="/reserves">Наши резервы</a></li>
                </ul>
                <ul class="footer_col">
                    <li class="footer_col_item"><a href="/rules">Правила</a></li>
                    <li class="footer_col_item"><a href="/aml">AML</a></li>
                </ul>
            </div>
            <div class="footer_bottom_row">
                <p class="copyright">Copyright © 2022 HelmetSwap</p>
                <a href="/privacy-policy" class="footer_bottom_rules">Политика конфиденциальности</a>
                <a href="/rules" class="footer_bottom_rules">Пользовательское соглашение</a>
            </div>
        </div>
    </div>
</footer>
<script src="/js/index.js"></script>
</body>
</html>