<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Document</title>

</head>
<body>
<header>
    <div class="container">
        <div class="header_block">
            <div class="logo_wrapper">
                <div class="logo_img_wrapper">
                    <a href="/">
                        <img src="/images/logo.png" alt="" class="logo_img">
                    </a>
                </div>
                <a href="/">
                    <p class="logo_text">HELMETSWAP</p>
                </a>
            </div>
            <nav class="nav_menu_wrapper">
                <ul class="nav_menu">
                    <li class="nav_menu__item"><a href="#" class="nav_menu__item_link">Выполнить обмен</a></li>
                    <li class="nav_menu__item"><a href="/reserves" class="nav_menu__item_link">Резервы</a></li>
                    <li class="nav_menu__item nav_menu__item_flag_wrapper"><img src="/images/ru.png" alt=""
                                                                                class="flag"></li>
                    <div sec:authorize="!isAuthenticated()">
                        <li class="nav_menu__item">
                            <a href="/registration" class="btn_authorization btn_general">Авторизация</a>
                            <a href="/registration" class="btn_authorization_mobile"><img src="/images/user.svg" alt=""></a>
                        </li>
                    </div>
                    <div sec:authorize="hasAnyAuthority('ROLE_USER', 'ROLE_ADMIN')">
                        <li><a href="/account/history">My profile</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </div>
                </ul>
            </nav>
        </div>
    </div>
</header>
<form class="registration auth_form_container" th:action="@{/user/update/password}" th:object="${user}" method="post">
    <div>
        <input type="password"
               name="oldPassword"
               placeholder="Текущий пароль"
        ><br>
    </div>
    <div th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
        <p th:each="error : ${#fields.errors('password')}"
           th:text="${error}" class="invalid_data">Validation error</p>
        <input type="password"
               id="password"
               placeholder="Новый пароль"
               th:field="*{password}"
        ><br>
    </div>
    <div th:classappend="${#fields.hasErrors('confirmPassword')}? 'has-error':''">
        <p th:each="error : ${#fields.errors('confirmPassword')}"
           th:text="${error}" class="invalid_data">Validation error</p>
        <input id="confirmPassword"
               name="confirmPassword"
               type="password"
               placeholder="Новый пароль повторно"
               th:field="*{confirmPassword}"/>
    </div>
    <div>
        <button type="submit">Сохранить</button>
    </div>
</form>
<script src="/js/index.js"></script>
</body>
</html>