<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="shortcut icon" href="/images/logo.ico" type="image/x-icon">
    <title th:text="#{title.aml}">Document</title>

</head>
<body>
<div class="content">
    <header>
        <div class="container">
            <div class="header_block">
                <div class="logo_wrapper">
                    <div class="logo_img_wrapper">
                        <a href="/">
                            <img src="/images/logo.png" alt="" class="logo_img">
                        </a>
                    </div>
                    <a href="/">
                        <p class="logo_text">HELMETSWAP</p>
                    </a>
                </div>
                <nav class="nav_menu_wrapper">
                    <ul class="nav_menu">
                        <li class="nav_menu__item"><a href="/" class="nav_menu__item_link" th:text="#{button.do.exchange}">Выполнить
                            обмен</a></li>
                        <li class="nav_menu__item"><a href="/reserves" class="nav_menu__item_link"
                                                      th:text="#{button.reserves}">Резервы</a></li>

                        <li class="nav_menu__item nav_menu__item_flag_wrapper" th:if="${#locale.toString() == 'ru_RU'}">
                            <a th:href="@{${#httpServletRequest.requestURI}(lang='en_US')}">
                                <i><img src="/images/en.png" alt="" class="flag"></i>
                            </a>
                        </li>
                        <li class="nav_menu__item nav_menu__item_flag_wrapper" th:if="${#locale.toString() == 'en_US'}">
                            <a th:href="@{${#httpServletRequest.requestURI}(lang='ru_RU')}">
                                <i><img src="/images/ru.png" alt="" class="flag"></i>
                            </a>
                        </li>

                        <li sec:authorize="!isAuthenticated()">
                            <div class="nav_menu__item">
                                <a href="/registration" class="btn_authorization btn_general" th:text="#{button.authorization}">Авторизация</a>
                                <a href="/registration" class="btn_authorization_mobile"><img src="/images/user.svg" alt=""></a>
                            </div>
                        </li>
                        <li sec:authorize="hasAnyAuthority('ROLE_USER', 'ROLE_ADMIN')" class="btns_auth_wrapper">
                            <div>
                                <a href="/account/history" class="btn_cabinet_wrapper">
                                    <span class="btn_cabinet_user"><img src="/images/user-1.svg" alt=""></span>
                                    <div class="btn_cabinet_text">
                                        <p th:text="#{button.personal.account}">Личный кабинет</p>
                                        <div class="header_percent_wrapper">
                                            <div class="header_wallet">
                                                <span><img src="/images/wallet.png" alt=""></span>
                                                <span><span th:text="${walletAmount}"></span><span> $</span></span>
                                            </div>
                                            <div class="header_wallet header_margin">
                                                <span><img src="/images/percent.png" alt=""></span>
                                                <span><span th:text="${userMargin}"></span><span> %</span></span>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                            </div>
                            <div><a href="/logout" class="btn_logout">
                                <img src="/images/exit.png" alt="">
                            </a></div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div class="container aml_container">
        <h1 class="rules_title">AML</h1>
        <p class="aml_text" th:text="#{aml.p}">
            Принципы осуществления внутреннего регулирования по недопущению легализации денежных средств и спонсирования
            терроризма
        </p>
        <p class="aml_text" th:text="#{aml.p2}">
            Сайт Услуг Helmetswap работает в соответствии с настоящим правом Эстонского государства и с уважением
            принимает законодательство других государств, чьи пользователи могут перейти на этот сайт и пользоваться
            данными услугами, согласно установленным Принципам. Существует вероятность того, что виртуальные деньги
            могут использоваться в мошеннических операциях, включая отмывание прибыли, полученной путем мошенничества
            и/или спонсирования бандитизма. Для недопущения таких операций при помощи услуг сайта и иной подобной
            незаконной деятельности мы обязаны обезопасить честных пользователей и их денежные средства.
        </p>
        <p class="aml_text" th:text="#{aml.p3}">
            Для достижения данной цели, мы разработали данную Программу AML, Принципы услуги и другую документацию и
            положения, описывающие правила функционирования услуги Helmetswap. Этой программе четко следуют наши
            работники, что сводит все опасности, связанные с работой Услуг к минимальному значению.
        </p>
        <p class="aml_text" th:text="#{aml.p4}">
            Ресурсы, которыми располагает Услуга, дают возможность нам находить рискованные сделки, связанные с обменом
            и/или операции и осуществлять по ним проверку. Подробности работы и механизмы функционирования Услуги не
            раскрываются с целью обеспечения безопасности и продуктивности ее функционирования в сфере противодействия
            незаконной деятельности. Услуга имеет все полномочия потребовать на различном этапе у всякого Пользователя
            осуществления идентифицирующей процедуры и/или предъявления различных данных/документов, интересующих Услугу
            и способных оказаться полезными в сфере доказательства законности происхождения денежных средств и
            подтверждения личности Пользователя.
        </p>

        <ol class="aml_list">
            <li><p class="aml_list_title" th:text="#{aml.ol1}">1. Общие принципы</p>
                <ol>
                    <li class="aml_text" th:text="#{aml.p5}">1.1 Существующая программа AML создана согласно действующему праву Эстонской Республики.
                    </li>
                    <li class="aml_text" th:text="#{aml.p6}">1.2 Услуга – находящийся во всемирной сети интернет-ресурс по конвертированию криптовалюты - Helmetswap –
                        относящиеся к ней дополнения (в том числе мобильное).
                    </li>
                    <li class="aml_text" th:text="#{aml.p7}">1.3 Пользователь – гражданин, достигший шестнадцатилетнего возраста, либо же периода совершеннолетия,
                        установленного применяемым к Пользователю полномочием. При условии несоблюдения пункта, относящегося к
                        возрастному ограничению, пользователь обязан немедленно перестать пользоваться Услугой и выйти из
                        ресурса/закрыть дополнение.</li>
                    <li class="aml_text" th:text="#{aml.p8}">1.4 Программа AML – это комплекс внутренних принципов (настоящие принципы) и правил, разработанных и
                        применяемых услугой Helmetswap с целью проверки и предоставления доступа к документам и данным об операциях,
                        находящихся под контролем в обязательном порядке. Также это иные финансовые и/или имущественные операции,
                        имеющие какое-либо отношение к отмыванию денежных средств (легализации) и/или спонсированию бандитизма и
                        подачи подобной информации в органы государственной власти.<br>С целью обеспечения легальности и прозрачности денежных операций через услугу Helmetswap применяются
                        настоящие принципы для недопущения преступной деятельности, включая недопущение отмывания денежных средств,
                        при совершении мошеннических операций, используя функциональные возможности Услуги. Настоящие принципы
                        актуальны для всех пользователей Услуги Helmetswap, осуществляющих любые операции, связанные с различной
                        формой финансового потока через Услугу.</li>
                </ol>
            </li>
            <li><p class="aml_text" th:text="#{aml.p10}">1.5 Программа AML – это акт, который:</p>
                <ol>
                    <li class="aml_text" th:text="#{aml.p11}">1.5.1 Контролирует организационный процесс по недопущению отмывания денежных средств (легализации),
                        полученных преступным способом, и спонсированию бандитизма;</li>
                    <li class="aml_text" th:text="#{aml.p12}">1.5.2 Определяет ответственность и необходимые операции для работников по осуществлению внутреннего
                        регулирования;</li>
                    <li class="aml_text" th:text="#{aml.p13}">1.5.3 Определяет время, в течении которого сотрудники выполняют свои обязанности и определяет лиц, имеющих
                        право контроля.</li>
                </ol>
            </li>
            <li class="aml_text" th:text="#{aml.p14}">1.6 Программа AML включает в себя вспомогательные программы;
                <ol>
                    <li class="aml_text" th:text="#{aml.p15}">1.6.1 Программа рассмотрения различных способов осуществления внутреннего регулирования;</li>
                    <li class="aml_text" th:text="#{aml.p16}">1.6.2 Программа включения способов внутреннего регулирования;</li>
                    <li class="aml_text" th:text="#{aml.p17}">1.6.3 Посетитель и индивидуумы, имеющие связь с программой идентифицирующей посетителя;</li>
                    <li class="aml_text" th:text="#{aml.p18}">1.6.4 Программа исследования опасностей;</li>
                    <li class="aml_text" th:text="#{aml.p19}">1.6.5 Программа урегулирования экономических отношений с посетителями;</li>
                    <li class="aml_text" th:text="#{aml.p20}">1.6.6 Необходимые мероприятия программного регламента при опасении на процедуры, связанные с отмыванием
                        доходов, полученных незаконным способом;</li>
                    <li class="aml_text" th:text="#{aml.p21}">1.6.7 Программа взаимного обмена перепиской;</li>
                    <li class="aml_text" th:text="#{aml.p22}">1.6.8 Программа фиксирования документальных данных;</li>
                    <li class="aml_text" th:text="#{aml.p23}">1.6.9 Программа отклонения операции;</li>
                    <li class="aml_text" th:text="#{aml.p24}">1.6.10 Программа повышения квалификации работников Услуги;</li>
                    <li class="aml_text" th:text="#{aml.p25}">1.6.11Программа осуществления внутреннего регулирования;</li>
                    <li class="aml_text" th:text="#{aml.p26}">1.6.12 Программа организации документооборота, относящегося к документам, полученным в процессе реализации
                        программы внутреннего регулирования.</li>
                </ol>
            </li>
            <li class="aml_text" th:text="#{aml.p27}">1.7 Настоящий Руководитель Услуги Helmetswap – лицо, несущее ответственность за четкое исполнение настоящей
                программы.
            </li>
        </ol>
        <ol start="2">
            <li class="aml_list_title" th:text="#{aml.ol2}">2. Организационные формы способов регулирования</li>
        </ol>
        <p class="aml_text" th:text="#{aml.p28}">
            2.1 Для соответствующего проведения настоящей программы и принимая во внимание число посетителей и зависящих
            от этого степеней опасности, руководство Услуги организовало обособленную группу, включающую руководителей,
            бухгалтера и управляющего службой безопасности, для реализации AML программы.
        </p>
        <p class="aml_text" th:text="#{aml.p29}">
            2.2 Определенные работники Услуги занимаются решением всех задач, касающихся первичного распознавания
            посетителя.
        </p>
        <p class="aml_text" th:text="#{aml.p30}">
            2.3 Пунктом 1.7 настоящей программы определяется лицо, обязанное решать следующие вопросы:
        </p>
        <ul class="aml_list_marked">
            <li th:text="#{aml.li3}">
                исследование произведенной или запланированной к проведению транзакции на предмет ее потенциальной
                причастности к легализации денежных средств, либо же спонсирования бандитизма;
            </li>
            <li th:text="#{aml.li4}">
                предоставление финансовой инспекции различной информации о посетителях, связанных с ними лиц и
                транзакций, которые потенциально относятся к преступной деятельности;
            </li>
            <li th:text="#{aml.li5}">
                предоставление отчетной документации о реализации настоящей программы;
            </li>
            <li th:text="#{aml.li6}">
                реализация иных обязанностей, определенных Агентством по противодействию легализации денежных средств и
                спонсированию терроризма.
            </li>
        </ul>
        <ol start="3">
            <li class="aml_list_title" th:text="#{aml.ol3}">3. Введение способов регулирования</li>
        </ol>
        <p th:text="#{aml.p31}">
            3.1 Способы регулирования применяются в следующих ситуациях и сферах:
        </p>
        <ul class="aml_list_marked">
            <li th:text="#{aml.li7}">
                в момент установления экономических связей с Пользователем и в процессе его работы;
            </li>
            <li th:text="#{aml.li8}">
                во всех случаях, когда сумма операции более 15000 евро, либо эквивалентна данному значению в какой-либо
                денежной единице;
            </li>
            <li th:text="#{aml.li9}">
                в случае неуверенности в правильности и/или правдивости предъявленной информации;
            </li>
            <li th:text="#{aml.li10}">
                в случае чрезвычайной сложности планируемой операции;
            </li>
            <li class="aml_text" th:text="#{aml.li11}">
                в случае наличия подозрений в причастности операции к легализации денежных средств и/или спонсированию
                бандитизма, и/или иного вида противоправной деятельности и/или относится к операциям с высокой степенью
                опасности согласно порядку оценивания рисков, принятому настоящей программой.
            </li>
        </ul>
        <p class="aml_text" th:text="#{aml.p32}">
            В случае обнаружения потенциальной связи с такими компаниями как: Darknet Marketplace, Darknet Service,
            Fraudulent Exchange, Illegal Service, Mixing Service, Ransom, Scam, Stolen Coins, в процессе
            автоматизированного AML мониторинга адреса электронного кошелька Пользователя. При подтверждении таких
            отношений, возвращение финансов на адрес отправителя произойдет лишь после идентификации Пользователя
            (возвращению подлежит сумма с учетом комиссии, взятой для осуществления операции).
        </p>
        <p class="aml_text" th:text="#{aml.p33}">
            3.2 Дополнительные способы регулирования применяются при изменении Пользователем правил и/или тонкостей
            обмена, и/или неполной реализации и/или не реализации их, увеличивающие степень опасности:
        </p>
        <ul class="aml_list_marked">
            <li th:text="#{aml.li12}">
                в том случае, когда обмен не является целесообразным (не способствует осмысленной задаче);
            </li>
            <li th:text="#{aml.li13}">
                в случае экономической нерациональности;
            </li>
            <li th:text="#{aml.li14}">
                в случае многократного повторения одного и того же вида операции за небольшой промежуток времени;
            </li>
            <li th:text="#{aml.li15}">
                в том случае, когда Пользователь не предоставляет запрошенные Услугой данные, в ситуациях и
                последовательности, указанных в данной программе и/или Принципах услуги, не объясняя основания для
                отказа и/или в случаях выражения Пользователем чрезвычайной обеспокоенности задачами секретности;
            </li>
            <li th:text="#{aml.li16}">
                в случае принятия решения Пользователем об изменении операции методом, не являющимся типичным в практике
                проведения операций по обмену;
            </li>
            <li th:text="#{aml.li17}">
                если Пользователь без каких-либо причин поспешил совершить транзакции/обмен/операцию;
            </li>
            <li th:text="#{aml.li18}">
                в случае внесения изменений Пользователем в правила операции/обмена непосредственно перед ее/его
                реализацией;
            </li>
            <li th:text="#{aml.li19}">
                в случае невозможности соединиться с Пользователем по указанному им электронному адресу и/или по
                телефонному номеру, и/или иным данным контакта;
            </li>
            <li th:text="#{aml.li20}">
                в случае появления данных и/или предположения о не правдивости и/или некорректности предоставленной
                Пользователем информации;
            </li>
            <li class="aml_text" th:text="#{aml.li21}">
                в случае чрезвычайной сложности планируемой операции/обмена и отсутствия очевидности финансовой причины.
            </li>
        </ul>
        <p class="aml_text" th:text="#{aml.p34}">
            3.3 Вспомогательные способы регулирования сомнительной операции:
        </p>
        <ul class="aml_list_marked">
            <li th:text="#{aml.li22}">
                принятие от клиента обязательных разъяснений и доказательств, объясняющих предмет операции/обмена;
            </li>
            <li th:text="#{aml.li23}">
                реализация интенсивного контроля согласно настоящим принципам касательно всех операций посетителя для
                подтверждения какой-либо связи с легализацией денежных средств и/или спонсированием бандитизма.
            </li>
        </ul>
        <ol start="4">
            <li class="aml_list_title" th:text="#{aml.ol4}">4. Оценка опасности</li>
        </ol>
        <p class="aml_text" th:text="#{aml.p35}">
            4.1 Каждый Посетитель и его планируемая операция поддаются оценке с точки зрения экономической опасности в
            сфере легализации денежных средств и спонсирования бандитизма (пользовательский риск).
        </p>
        <p class="aml_text" th:text="#{aml.p36}">
            4.1.1 В процессе оценивания опасности Пользователю присуждается статус опасности от небольшого до
            наивысшего.
        </p>
        <p class="aml_text" th:text="#{aml.p37}">
            4.1.2 Способы оценки вспомогательных причин опасности:
        </p>
        <ul class="aml_list_marked">
            <li th:text="#{aml.li24}">
                относится ли Пользователь к государственному должностному лицу, либо имеет к нему отношение;
            </li>
            <li th:text="#{aml.li25}">
                в том случае, когда получателем выгоды/адресатом обмена физического субъекта выступает постороннее лицо;
            </li>
            <li th:text="#{aml.li26}">
                в случае сбоев при верификации;
            </li>
            <li th:text="#{aml.li27}">
                Пользователь имеет отношение к низконалоговым юрисдикциям;
            </li>
            <li th:text="#{aml.li28}">
                Применение межправительственных санкций к Пользователю;
            </li>
            <li th:text="#{aml.li29}">
                имеется позитивный опыт взаимодействия с Пользователем;
            </li>
            <li th:text="#{aml.li30}">
                период времени взаимодействия/ дата начальной регистрации профиля;
            </li>
            <li th:text="#{aml.li31}">
                тип планируемой операции;
            </li>
            <li th:text="#{aml.li32}">
                сумма операции;
            </li>
            <li th:text="#{aml.li34}">
                Пользователь постоянный и/или стабильно производит обмен;
            </li>
            <li class="aml_text" th:text="#{aml.li35}">
                источники появления товаров и/или капитала неизвестны.
            </li>
        </ul>
        <p class="aml_text" th:text="#{aml.p38}">
            4.2 Тип операции необходимо оценить для установления степени опасности.
        </p>
        <p class="aml_text" th:text="#{aml.p39}">
            4.2.1 Обменной операции можно присвоить уровень низкой, средней и высокой опасности, зависящей от таких
            причин:
        </p>
        <ul class="aml_list_marked">
            <li th:text="#{aml.li36}">
                в обмене принимает участие коммерческий банк;
            </li>
            <li th:text="#{aml.li37}">
                операция предусматривает иные методы оплаты;
            </li>
            <li class="aml_text" th:text="#{aml.li38}">
                обмен имеет отношение к азартным играм;
            </li>
        </ul>
        <p class="aml_text" th:text="#{aml.p40}">
            4.3 Оценка географических факторов (географическая опасность).
        </p>
        <p class="aml_text" th:text="#{aml.p41}">
            4.3.1 Сделке может быть присвоен статус низкого, среднего или высокого риска в зависимости от следующих
            географических аспектов:
        </p>
        <ul class="aml_list_marked">
            <li th:text="#{aml.li39}">
                обменные операции связаны со страной и/или Пользователями из страны с высоким уровнем незаконной
                деятельности либо преступным наркооборотом;
            </li>
            <li th:text="#{aml.li40}">
                в обменных операциях принимает участие Пользователь с высокой степенью продажностью;
            </li>
            <li th:text="#{aml.li41}">
                в обменных операциях принимает участие Пользователь из страны, к которой применяются
                межправительственные санкции;
            </li>
            <li class="aml_text" th:text="#{aml.li42}">
                иные причины, способные увеличить географическую опасность.
            </li>
        </ul>
        <p class="aml_text" th:text="#{aml.p42}">
            4.4 Вместе с опасностями, относящимися к Пользователю, опасности, касающиеся его партнеров и/или имеющих с
            ними отношения людей (к примеру, родных) также подлежат оцениванию.
        </p>
        <p class="aml_text" th:text="#{aml.p43}">
            4.5 Оценивание опасности производится методом присвоения каждой категории опасности по 3-хбальной системе:
        </p>
        <ul class="aml_list_marked">
            <li th:text="#{aml.li43}">
                опасность считается небольшой, когда ни одна из групп не содержит фактора опасности и операции обмена в
                большей степени понятны;
            </li>
            <li th:text="#{aml.li44}">
                опасность считается средней степени, если причины опасности по самой операции не прозрачны,
            </li>
            <li th:text="#{aml.li45}">
                хотя подозревается, что совокупность факторов опасности может указывать на легализацию денежных средств
                и/или спонсирование бандитизма;
            </li>
            <li class="aml_text" th:text="#{aml.li46}">
                опасность относится к высокому уровню в случае существования нескольких факторов опасности, а сама
                операция неочевидна.
            </li>
        </ul>
        <p class="aml_text" th:text="#{aml.p44}">
            Общий итог достигается путем присоединения причины из каждой группы, в то время как опасности, касающиеся
            посетителя и партнера, увеличиваются вдвое, затем весь результат делится на показатель 4.
        </p>
        <ul class="aml_list_marked">
            <li th:text="#{aml.li47}">
                когда результат равен 2 и меньше опасность минимальна;
            </li>
            <li th:text="#{aml.li48}">
                при результате от 2 до 2,75 – опасность среднего уровня;
            </li>
            <li th:text="#{aml.li49}">
                при результате более 2,75 – максимальная опасность.
            </li>
        </ul>
        <p class="aml_text" th:text="#{aml.p45}">
            Когда опасность в любой из групп высокая, суммарная опасность считается максимальной вне зависимости от
            общего результата.
        </p>
        <ol start="5">
            <li class="aml_list_title" th:text="#{aml.ol5}">5. Экономические связи с Пользователем</li>
        </ol>
        <p class="aml_text" th:text="#{aml.p46}">
            5.1 Какое-либо финансовое взаимодействие с Пользователем начинается лишь после согласия Пользователя
            поступать согласно настоящей политики AML и Принципам Услуги.
        </p>
        <ol start="6" th:text="#{aml.ol6}">
            <li class="aml_list_title">6. Реакция при опасении на легализацию денежных средств и требование предъявить данные</li>
        </ol>
        <p class="aml_text" th:text="#{aml.p47}">
            6.1 В случае возникновения любых подозрений до начала финансового взаимодействия либо в процессе применения
            способов регулирования, что операции могут иметь отношение к легализации денежных средств и/или
            спонсированием бандитизма, то дальнейшее взаимодействие не допустимо.
        </p>
        <p class="aml_text" th:text="#{aml.p48}">
            6.2 Какие-либо подозрения фиксируются и исследуются контактным лицом, борющимся с легализацией денежных
            средств. Отдел по легализации эстонских денежных средств и Финансовую эстонскую инспекцию обязаны немедленно
            ознакомить с итогами исследования.
        </p>
        <p class="aml_text" th:text="#{aml.p49}">
            6.3 Все данные о каких-либо операциях на сумму, превышающую 32000 евро необходимо предоставлять в Отдел по
            противодействию легализации эстонских денежных средств и эстонской Финансовой инспекции.
        </p>
        <p class="aml_text" th:text="#{aml.p50}">
            6.4 В том случае, когда воздержание от проведения операции спровоцирует убытки для посетителя либо приведет
            к задержанию лица, заподозренного в легализации денежных средств либо спонсирования бандитизма, операцию
            можно отсрочить либо провести в случае скорейшего донесения информации финансовым инспекторам.
        </p>
        <p class="aml_text" th:text="#{aml.p51}">
            6.5 Все данные, предоставленные Финансовым инспекторам, сберегаются в архиве согласно Программе секретности
            и настоящей программе, в том числе результаты исследования информации.
        </p>
        <p class="aml_text" th:text="#{aml.p52}">
            6.6 Лицам, которые подозреваются в легализации денежных средств или спонсировании бандитизма, не разрешается
            предоставлять никаких данных о подозрениях либо уведомлять об этом каким-либо иным методом.
        </p>
        <ol start="7" th:text="#{aml.ol7}">
            <li class="aml_list_title">7. Ведение переписки</li>
        </ol>
        <p class="aml_text" th:text="#{aml.p53}">
            7.1 В том случае, если администрация посчитает целесообразным для способа регулирования выполнения, возможна
            инициация ведения переписки с посторонними людьми, включая банковские и другие коммерческие учреждения, если
            это будет способствовать получению корректных данных.
        </p>
        <p class="aml_text" th:text="#{aml.p54}">
            7.2 Переписку необходимо представить в формате соглашения обеих сторон, включая применяемые способы
            регулирования.
        </p>
        <p class="aml_text" th:text="#{aml.p55}">
            7.3 Не разрешается ведение переписки с нелегальными банковскими учреждениями, компаниями, не имеющими
            лицензий, и/или с компаниями, размещенными в юрисдикциях, право которых не отвечает межправительственным
            стандартам в сфере права о противодействии легализации денежных средств и недопущения спонсирования
            бандитизма.
        </p>
        <ol start="8" th:text="#{aml.ol8}">
            <li class="aml_list_title">8. Программа фиксирования данных</li>
        </ol>
        <p class="aml_text" th:text="#{aml.p56}">
            8.1 Программа фиксирования данных определяет ответственность работника организации, производившего обменные
            операции, создания внутренней документации, содержащей все особенности операций, включающей:
        </p>
        <p class="aml_text" th:text="#{aml.p57}">
            8.1.1 Группа операций, факторы, влияющие на степень опасности;
        </p>
        <p class="aml_text" th:text="#{aml.p58}">
            8.1.2 Детальные данные об обмене, в том числе объем и денежную единицу;
        </p>
        <p class="aml_text" th:text="#{aml.p59}">
            8.1.3 Детальные данные о гражданах, принимающих участие в обмене;
        </p>
        <p class="aml_text" th:text="#{aml.p60}">
            8.1.4 Данные о различных вспомогательных способах регулирования, применяемых касательно операций;
        </p>
        <ol start="9" th:text="#{aml.ol9}">
            <li class="aml_list_title">9. Программа отказа от операции (обмена)</li>
        </ol>
        <p class="aml_text" th:text="#{aml.p61}">
            9.1 В случае непредъявления Пользователем, несмотря на свои обязанности, необходимого документа согласно
            способам регулирования, применяемым правом и настоящими принципами, Пользователю обмен будет недоступен.
        </p>
        <p class="aml_text" th:text="#{aml.p62}">
            9.2 В случае непредъявления Пользователем данных о происхождении денег при затребовании Услуги, обмен будет
            недоступен.
        </p>
        <p class="aml_text" th:text="#{aml.p63}">
            9.3 Данные о недоступности обмена должны сберегаться согласно данной программе, Принципам услуги и
            Программой засекреченности.
        </p>
        <p class="aml_text" th:text="#{aml.p64}">
            9.4 Если запретили проведение обменных операциях сберегаются такие данные:
        </p>
        <ul class="aml_list_marked">
            <li th:text="#{aml.li50}">
                данные про обстоятельства запрета в обмене и блокирования учетной записи;
            </li>
            <li th:text="#{aml.li51}">
                какие-либо обстоятельства запрета взаимодействия в сфере обмена;
            </li>
            <li class="aml_text" th:text="#{aml.li52}">
                данные, ставшие причиной извещения госорганов согласно разделу 32 Закона о недопущении легализации и
                спонсированием терроризма.
            </li>
        </ul>
        <p class="aml_text" th:text="#{aml.p65}">
            9.5 Решение запретить осуществлять сделки можно отменить, если посетитель предъявит необходимые данные в
            полной мере, и они проходят верификацию, либо в том случае, когда подобное постановлено указом следующих
            органов:
        </p>
        <ul class="aml_list_marked">
            <li th:text="#{aml.li53}">
                регулирующий орган Республики Эстонии;
            </li>
            <li th:text="#{aml.li54}">
                квалифицированное эстонское правосудие.
            </li>
            <li class="aml_text" th:text="#{aml.li55}">
                Программа подготовки кадров Услуги
            </li>
        </ul>
        <ol start="10">
            <li class="aml_list_title" th:text="#{aml.ol10}"> 10. Программа подготовки кадров в сфере противодействия легализации денежных средств и недопущение спонсирования
            бандитизма происходит согласно настоящим законам и включает в себя необходимые инструкции для работников
            касательно способов регулирования и исследования данных. Каждый работник должен получить необходимые
            инструкции наделенными полномочиями сотрудниками в течение месяца с начала деятельности.</li>
        </ol>
        <ol start="11">
            <li class="aml_list_title" th:text="#{aml.ol11}">11. Программа проверки внутреннего регулирования</li>
        </ol>
        <p class="aml_text" th:text="#{aml.p66}">
            11.1 Программа проверки внутреннего регулирования дает гарантию, что работники Услуги соблюдают принципы
            действующего права в сфере борьбы с отмыванием денежных средств, полученных незаконным способом и
            спонсированием бандитизма. Программа дает гарантию, что работники придерживаются внутренних правил и
            программы Услуги в сфере внутреннего регулирования.
        </p>
        <p class="aml_text" th:text="#{aml.p67}">
            11.2 Внутренне регулирование предполагает следующее:
        </p>
        <p class="aml_text" th:text="#{aml.p68}">
            11.2.1 Каждые полгода необходимо проводить внутренние проверки в сфере добросовестного исполнения внутренних
            правил и применяемого права;
        </p>
        <p class="aml_text" th:text="#{aml.p69}">
            11.2.2 Руководитель Услуги должен непрерывно принимать отчеты обо всех недостатках внутреннего порядка в
            сфере борьбы с легализацией денежных средств и недопущения спонсирования бандитизма;
        </p>
        <p class="aml_text" th:text="#{aml.p70}">
            11.2.3 Все недостатки, определенные в процессе проверок, должны быть соответствующим способом исправлены при
            помощи средств, избранных администрацией Услуги.
        </p>
        <ol start="12">
            <li class="aml_list_title" th:text="#{aml.ol12}">12. Программа работы документации</li>
        </ol>
        <p class="aml_text" th:text="#{aml.p71}">
            12.1 Вся документация, связанная с процессом верификации пользователя, и все данные о начальном этапе
            финансового взаимодействия должны сберегаться в картотеке организации в течение периода использования
            Пользователем Услуги, но не меньше пяти лет.
        </p>
        <p class="aml_text" th:text="#{aml.p72}">
            12.2 Вся документация, ставшая базой для оповещения органов государственной власти, сберегается в течение,
            как минимум, пятилетнего периода.
        </p>
        <p class="aml_text" th:text="#{aml.p73}">
            12.3 Все данные о затребованиях, выполненных для соблюдения правил, используемых правом, должны сберегаться
            не менее 5 лет от начала коммерческого взаимодействия. При подтверждении личности цифровым документом,
            фотоснимок лица и автограф сберегаются не меньше пятилетнего периода со дня завершения экономического
            взаимодействия.
        </p>
        <p class="aml_text" th:text="#{aml.p74}">
            12.4 Документация должна сберегаться в такой форме, которая позволяет их воспроизведение в письменном виде,
            для большей доступности с целью финансового регулирования либо для иных органов государственной власти
            согласно используемому праву, если они необходимы для применения в гражданских, преступных либо свободных
            расследованиях.
        </p>
        <p class="aml_text" th:text="#{aml.p75}">
            Принципы внутреннего регулирования утверждают стандарты секретности данных, полученных в процессе
            верификации и/или иных операций, предвиденные настоящим правом.
        </p>
        <ol start="13">
            <li class="aml_list_title" th:text="#{aml.ol13}">13. Затребования органов правового порядка</li>
        </ol>
        <p class="aml_text" th:text="#{aml.p76}">
            Компании по противодействию отмыванию доходов, имеющих незаконное происхождение и спонсированию бандитизма,
            могут направлять свои затребования на нашу электронную почту по фактически проведенным незаконным операциям.
        </p>
        <p class="aml_text" th:text="#{aml.p77}">
            Адрес для обратной связи: helmetswap@gmail.com.
        </p>
        <p class="aml_text" th:text="#{aml.p78}">
            Мы исследуем лишь формальные запросы на бланках, установленного образца со всеми необходимыми штампами и
            автографами. Нам необходимо получать и контактные данные для связи, а также суметь проверить истинность
            запроса. Время ожидания ответа на запрос из различных юрисдикций может быть совершенно различным в силу
            множества факторов, включая, но, не ограничиваясь, временные пояса, путь, способность связаться быстрыми
            каналами связи и т.п.
        </p>
    </div>
</div>
<footer>
    <div class="container">
        <div class="footer_wrapper">
            <div class="footer_top_row">
                <div class="footer_logo_wrapper">
                    <div class="logo_img_wrapper">
                        <a href="/">
                            <img src="/images/logo.png" alt="" class="logo_img">
                        </a>
                    </div>
                    <a href="/">
                        <p class="logo_text">HELMETSWAP</p>
                    </a>
                </div>
                <ul class="footer_col">
                    <li class="footer_col_item"><a href="/" th:text="#{button.start.exchange}">Начать обмен</a></li>
                    <li class="footer_col_item"><a href="/reserves" th:text="#{button.our.reserves}">Наши резервы</a></li>
                </ul>
                <ul class="footer_col">
                    <li class="footer_col_item"><a href="/rules" th:text="#{button.rules}">Правила</a></li>
                    <li class="footer_col_item"><a href="/aml" th:text="#{massage.exchange.aml}">AML</a></li>
                </ul>
                <ul class="footer_col">
                    <li class="footer_col_item"><a href="/contacts" th:text="#{button.contacts}">Контакты</a></li>
                </ul>
            </div>
            <div class="footer_bottom_row">
                <p class="copyright">Copyright © 2022 HelmetSwap</p><br class="hidden_break">
                <a href="/privacy-policy" class="footer_bottom_rules" th:text="#{button.privacy.policy}">Политика конфиденциальности</a>
                <a href="/rules" class="footer_bottom_rules" th:text="#{button.terms.of.service}">Пользовательское соглашение</a>
            </div>
        </div>
    </div>
</footer>
<script src="//code.tidio.co/npnx909lsqytqmhv5empuucr3bp47qhu.js" async></script>
</body>
</html>