<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="shortcut icon" href="/images/logo.ico" type="image/x-icon">
    <title th:text="#{title.error}">Document</title>

</head>
<body>
<div class="content">
    <header>
        <div class="container">
            <div class="header_block">
                <div class="logo_wrapper">
                    <div class="logo_img_wrapper">
                        <a href="/">
                            <img src="/images/logo.png" alt="" class="logo_img">
                        </a>
                    </div>
                    <a href="/">
                        <p class="logo_text">HELMETSWAP</p>
                    </a>
                </div>
                <nav class="nav_menu_wrapper">
                    <ul class="nav_menu">
                        <li class="nav_menu__item"><a href="/" class="nav_menu__item_link" th:text="#{button.do.exchange}">Выполнить
                            обмен</a></li>
                        <li class="nav_menu__item"><a href="/reserves" class="nav_menu__item_link"
                                                      th:text="#{button.reserves}">Резервы</a></li>

                        <li class="nav_menu__item nav_menu__item_flag_wrapper" th:if="${#locale.toString() == 'ru_RU'}">
                            <a th:href="@{${#httpServletRequest.requestURI}(lang='en_US')}">
                                <i><img src="/images/en.png" alt="" class="flag"></i>
                            </a>
                        </li>
                        <li class="nav_menu__item nav_menu__item_flag_wrapper" th:if="${#locale.toString() == 'en_US'}">
                            <a th:href="@{${#httpServletRequest.requestURI}(lang='ru_RU')}">
                                <i><img src="/images/ru.png" alt="" class="flag"></i>
                            </a>
                        </li>

                        <li sec:authorize="!isAuthenticated()">
                            <div class="nav_menu__item">
                                <a href="/registration" class="btn_authorization btn_general" th:text="#{button.authorization}">Авторизация</a>
                                <a href="/registration" class="btn_authorization_mobile"><img src="/images/user.svg" alt=""></a>
                            </div>
                        </li>
                        <li sec:authorize="hasAnyAuthority('ROLE_USER', 'ROLE_ADMIN')" class="btns_auth_wrapper">
                            <div>
                                <a href="/account/history" class="btn_cabinet_wrapper">
                                    <span class="btn_cabinet_user"><img src="/images/user-1.svg" alt=""></span>
                                    <div class="btn_cabinet_text">
                                        <p th:text="#{button.personal.account}">Личный кабинет</p>
                                        <div class="header_percent_wrapper">
                                            <div class="header_wallet">
                                                <span><img src="/images/wallet.png" alt=""></span>
                                                <span><span th:text="${walletAmount}"></span><span> $</span></span>
                                            </div>
                                            <div class="header_wallet header_margin">
                                                <span><img src="/images/percent.png" alt=""></span>
                                                <span><span th:text="${userMargin}"></span><span> %</span></span>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                            </div>
                            <div><a href="/logout" class="btn_logout">
                                <img src="/images/exit.png" alt="">
                            </a></div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div class="error_block">
        <div class="container">
            <div class="error_wrapper">
                <h1 id="fittext1" th:utext="${error}" class="error_img_wrapper">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M506.3 417l-213.3-364c-16.33-28-57.54-28-73.98 0l-213.2 364C-10.59 444.9 9.849 480 42.74 480h426.6C502.1 480 522.6 445 506.3 417zM232 168c0-13.25 10.75-24 24-24S280 154.8 280 168v128c0 13.25-10.75 24-23.1 24S232 309.3 232 296V168zM256 416c-17.36 0-31.44-14.08-31.44-31.44c0-17.36 14.07-31.44 31.44-31.44s31.44 14.08 31.44 31.44C287.4 401.9 273.4 416 256 416z"/></svg>
                </h1>
                <div class="error_text">
                <span>
                    <a class="" onclick="history.go(-1)">
                        <span class="text">Back</span>
                    </a>
                </span>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="container">
        <div class="footer_wrapper">
            <div class="footer_top_row">
                <div class="footer_logo_wrapper">
                    <div class="logo_img_wrapper">
                        <a href="/">
                            <img src="/images/logo.png" alt="" class="logo_img">
                        </a>
                    </div>
                    <a href="/">
                        <p class="logo_text">HELMETSWAP</p>
                    </a>
                </div>
                <ul class="footer_col">
                    <li class="footer_col_item"><a href="/" th:text="#{button.start.exchange}">Начать обмен</a></li>
                    <li class="footer_col_item"><a href="/reserves" th:text="#{button.our.reserves}">Наши резервы</a></li>
                </ul>
                <ul class="footer_col">
                    <li class="footer_col_item"><a href="/rules" th:text="#{button.rules}">Правила</a></li>
                    <li class="footer_col_item"><a href="/aml" th:text="#{massage.exchange.aml}">AML</a></li>
                </ul>
                <ul class="footer_col">
                    <li class="footer_col_item"><a href="/contacts" th:text="#{button.contacts}">Контакты</a></li>
                </ul>
            </div>
            <div class="footer_bottom_row">
                <p class="copyright">Copyright © 2022 HelmetSwap</p><br class="hidden_break">
                <a href="/privacy-policy" class="footer_bottom_rules" th:text="#{button.privacy.policy}">Политика конфиденциальности</a>
                <a href="/rules" class="footer_bottom_rules" th:text="#{button.terms.of.service}">Пользовательское соглашение</a>
            </div>
        </div>
    </div>
</footer>
</body>
</html>