<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <title>Document</title>

</head>
<body>
    <header>
        <div class="container">
            <div class="header_block">
                <div class="logo_wrapper">
                    <div class="logo_img_wrapper">
                        <img src="../static/images/logo.png" alt="" class="logo_img">
                    </div>
                    <p class="logo_text">HELMETSWAP</p>
                </div>
                <nav class="nav_menu_wrapper">
                    <ul class="nav_menu">
                        <li class="nav_menu__item"><a href="#" class="nav_menu__item_link">Выполнить обмен</a></li>
                        <li class="nav_menu__item"><a href="#" class="nav_menu__item_link">Резервы</a></li>
                        <li class="nav_menu__item nav_menu__item_flag_wrapper"><img src="../static/images/ru.png" alt="" class="flag"></li>
                        <li class="nav_menu__item"><a href="/registration" class="btn_authorization btn_general">Авторизация</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>


</body>
</html>