<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="shortcut icon" href="/images/logo.ico" type="image/x-icon">
    <title th:text="#{title.index}">Document</title>
</head>
<body>

<header>
    <div class="container">
        <div class="header_block">
            <div class="logo_wrapper">
                <div class="logo_img_wrapper">
                    <a href="/">
                        <img src="/images/logo.png" alt="" class="logo_img">
                    </a>
                </div>
                <a href="/">
                    <p class="logo_text">HELMETSWAP</p>
                </a>
            </div>
            <nav class="nav_menu_wrapper">
                <ul class="nav_menu">
                    <li class="nav_menu__item"><a href="/" class="nav_menu__item_link" th:text="#{button.do.exchange}">Выполнить
                        обмен</a></li>
                    <li class="nav_menu__item"><a href="/reserves" class="nav_menu__item_link"
                                                  th:text="#{button.reserves}">Резервы</a></li>

                    <li class="nav_menu__item nav_menu__item_flag_wrapper" th:if="${#locale.toString() == 'ru_RU'}">
                        <a th:href="@{${#httpServletRequest.requestURI}(lang='en_US')}">
                            <i><img src="/images/en.png" alt="" class="flag"></i>
                        </a>
                    </li>
                    <li class="nav_menu__item nav_menu__item_flag_wrapper" th:if="${#locale.toString() == 'en_US'}">
                        <a th:href="@{${#httpServletRequest.requestURI}(lang='ru_RU')}">
                            <i><img src="/images/ru.png" alt="" class="flag"></i>
                        </a>
                    </li>

                    <li sec:authorize="!isAuthenticated()">
                        <div class="nav_menu__item">
                            <a href="/registration" class="btn_authorization btn_general" th:text="#{button.authorization}">Авторизация</a>
                            <a href="/registration" class="btn_authorization_mobile"><img src="/images/user.svg" alt=""></a>
                        </div>
                    </li>
                    <li sec:authorize="hasAnyAuthority('ROLE_USER', 'ROLE_ADMIN')" class="btns_auth_wrapper">
                        <div>
                            <a href="/account/history" class="btn_cabinet_wrapper">
                                <span class="btn_cabinet_user"><img src="/images/user-1.svg" alt=""></span>
                                <div class="btn_cabinet_text">
                                    <p th:text="#{button.personal.account}">Личный кабинет</p>
                                    <div class="header_percent_wrapper">
                                        <div class="header_wallet">
<!--                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">-->
<!--                                                &lt;!&ndash;! Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. &ndash;&gt;-->
<!--                                                <path d="M448 32C465.7 32 480 46.33 480 64C480 81.67 465.7 96 448 96H80C71.16 96 64 103.2 64 112C64 120.8 71.16 128 80 128H448C483.3 128 512 156.7 512 192V416C512 451.3 483.3 480 448 480H64C28.65 480 0 451.3 0 416V96C0 60.65 28.65 32 64 32H448zM416 336C433.7 336 448 321.7 448 304C448 286.3 433.7 272 416 272C398.3 272 384 286.3 384 304C384 321.7 398.3 336 416 336z"/>-->
<!--                                            </svg>-->
                                            <span><img src="/images/wallet.png" alt=""></span>
                                            <span><span th:text="${walletAmount}"></span>0.6<span> $</span></span>
                                        </div>
                                        <div class="header_wallet header_margin">
                                            <span><img src="/images/percent.png" alt=""></span>
<!--                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">&lt;!&ndash;! Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. &ndash;&gt;<path d="M374.6 73.39c-12.5-12.5-32.75-12.5-45.25 0l-320 320c-12.5 12.5-12.5 32.75 0 45.25C15.63 444.9 23.81 448 32 448s16.38-3.125 22.62-9.375l320-320C387.1 106.1 387.1 85.89 374.6 73.39zM64 192c35.3 0 64-28.72 64-64S99.3 64.01 64 64.01S0 92.73 0 128S28.7 192 64 192zM320 320c-35.3 0-64 28.72-64 64s28.7 64 64 64s64-28.72 64-64S355.3 320 320 320z"/></svg>-->
                                            <span><span th:text="${userMargin}">0.008</span><span> %</span></span>
                                        </div>
                                    </div>
                                </div>
                            </a>

                        </div>
                        <div><a href="/logout" class="btn_logout">
                            <img src="/images/exit.png" alt="">
<!--                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">-->
<!--                                &lt;!&ndash;! Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. &ndash;&gt;-->
<!--                                <path d="M160 416H96c-17.67 0-32-14.33-32-32V128c0-17.67 14.33-32 32-32h64c17.67 0 32-14.33 32-32S177.7 32 160 32H96C42.98 32 0 74.98 0 128v256c0 53.02 42.98 96 96 96h64c17.67 0 32-14.33 32-32S177.7 416 160 416zM502.6 233.4l-128-128c-12.51-12.51-32.76-12.49-45.25 0c-12.5 12.5-12.5 32.75 0 45.25L402.8 224H192C174.3 224 160 238.3 160 256s14.31 32 32 32h210.8l-73.38 73.38c-12.5 12.5-12.5 32.75 0 45.25s32.75 12.5 45.25 0l128-128C515.1 266.1 515.1 245.9 502.6 233.4z"/>-->
<!--                            </svg>-->
                        </a></div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<div class="main-wrapper">
    <div class="container">
        <div class="main_block">
            <h1 class="main_title" th:text="#{massage.request.exchange}">Создание заявки на обмен</h1>
            <p class="subtitle" th:text="#{massage.instruction.exchange}">Следуйте инструкции, чтобы начать обмен</p>
            <form action="" class="form_exchange" th:action="@{/exchange/create}" th:object="${note}" method="post">
                <div class="form_left_col">
                    <p class="text_give" th:text="#{massage.give}">Отдаю</p>
                    <div class="dropdown_top dropdown_general">
                        <div class="dropdown_wrapper">
                            <div class="dropdown_header js-top-dropdown-header">
                                <div class="dropdown_header_left_col">
                                    <div class="dropdown_img_coin_wrapper">
                                        <img src="/images/bitcoin.png" alt=""
                                             class="dropdown_img_coin js-top-main-coin-image">
                                    </div>
                                    <p class="dropdown_title js-top-dropdown-title">Bitcoin</p>
                                    <input type="text" class="js-hidden_input-top hidden_input-top"
                                           th:field="*{givenCoin}">
                                </div>

                                <div class="dropdown_header_right_col">
                                    <div class="dropdown_arrow_img_wrapper"><img src="/images/Arrow_Up.svg"
                                                                                 class="dropdown_arrow_img" alt="">
                                    </div>
                                </div>

                            </div>
                            <div class="dropdown_input_wrapper">
                                <input type="text" class="dropdown_input js-top-input" th:placeholder="#{index.amount}"
                                       th:field="*{givenAmount}">
                                <div class="coin_abbr js-top-main-coin-abbr">BTC</div>
                            </div>
                            <div class="dropdown_footer">
                                <p class="dropdown_footer_left_col"><span class="dropdown_text" th:text="#{placeholder.min}">Мин: </span><span
                                        class="dropdown_text_amount js-min-coins-amount"></span></p>
                                <p class="dropdown_footer_right_col"><span
                                        class="dropdown_text" th:text="#{placeholder.max.sum}">Макс. сумма: </span><span
                                        class="dropdown_text_amount js-max-coins-amount"></span>
                                </p>
                            </div>

                        </div>
                        <div class="dropdown_options_wrapper js-top-dropdown">
                            <tr th:each="coin : ${coins}">
                                <div class="dropdown_option_wrapper js-top-dropdown-option">
                                    <div class="dropdown_option">
                                        <div class="dropdown_option_left_col">
                                            <div class="dropdown_img_coin_wrapper">
                                                <img alt="" class="dropdown_img_coin"
                                                     data-coin-img="coin-img"
                                                     th:src="@{'https://exchanger-bucket.s3.eu-west-1.amazonaws.com/coin/image/'+${coin.symbol}}">
                                            </div>
                                            <p class="dropdown_coin_name" data-coin-name="coin-name"
                                               th:text="${coin.name}">Bitcoin</p>
                                        </div>
                                        <p class="dropdown_coin_abbr" data-coin-abbr="coin_abbr"
                                           th:text="${coin.symbol}">BTC</p>
                                    </div>
                                </div>
                            </tr>
                        </div>
                    </div>
                    <p class="text_get" th:text="#{massage.receive}">Получаю</p>
                    <div class="dropdown_bottom dropdown_general">
                        <div class="dropdown_wrapper">
                            <div class="dropdown_header js-bottom-dropdown-header">
                                <div class="dropdown_header_left_col">
                                    <div class="dropdown_img_coin_wrapper">
                                        <img src="/images/solana.png" alt=""
                                             class="dropdown_img_coin js-bottom-main-coin-image">
                                    </div>
                                    <p class="dropdown_title js-bottom-dropdown-title">Solana</p>
                                    <input type="text" class="js-hidden_input-bottom hidden_input-bottom"
                                           th:field="*{takenCoin}">
                                </div>

                                <div class="dropdown_header_right_col">
                                    <div class="dropdown_arrow_img_wrapper"><img src="/images/Arrow_Up.svg"
                                                                                 class="dropdown_arrow_img" alt="">
                                    </div>
                                </div>

                            </div>
                            <div class="dropdown_input_wrapper">
                                <input type="text" class="dropdown_input js-bottom-input" th:placeholder="#{index.amount}"
                                       th:field="*{takenAmount}">
                                <div class="coin_abbr js-bottom-main-coin-abbr">SOL</div>
                            </div>
                            <div class="dropdown_footer">
                                <p class="dropdown_footer_left_col"><span class="dropdown_text" th:text="#{massage.course}">Курс </span><span
                                        class="dropdown_text_amount js-rate"></span></p>
                                <input type="text" class="hidden-input-rate js-hidden-input-rate"
                                       th:field="*{currentCourse}">
                            </div>

                        </div>
                        <div class="dropdown_options_wrapper js-bottom-dropdown">
                            <tr th:each="coin : ${coins}">
                                <div class="dropdown_option_wrapper js-bottom-dropdown-option">
                                    <div class="dropdown_option">
                                        <div class="dropdown_option_left_col">
                                            <div class="dropdown_img_coin_wrapper">
                                                <img alt="" class="dropdown_img_coin"
                                                     data-coin-img="coin-img"
                                                     th:src="@{'https://exchanger-bucket.s3.eu-west-1.amazonaws.com/coin/image/'+${coin.symbol}}">
                                            </div>
                                            <p class="dropdown_coin_name" data-coin-name="coin-name"
                                               th:text="${coin.name}">Solana</p>
                                        </div>
                                        <p class="dropdown_coin_abbr" data-coin-abbr="coin_abbr"
                                           th:text="${coin.symbol}">SOL</p>
                                    </div>
                                </div>
                            </tr>
                        </div>
                    </div>
                </div>
                <div class="form_right_col">
                    <h4 class="props_title" th:text="#{massage.requisites}">Укажите ваши реквизиты</h4>
                    <div class="props_inputs_wrapper">
                        <div class="props_input_wrapper">
                            <label class="props_input_label" th:text="#{massage.email.box}">Ваш E-mail ящик</label>
                            <input type="email" id="props_email" placeholder="Email" class="input_general props_input"
                                   th:field="*{email}">
                        </div>
                        <div class="props_input_wrapper">
                            <label class="props_input_label" th:text="#{massage.wallet.receipt}">Кошелёк для получения</label>
                            <input type="text" id="props_wallet" class="input_general props_input"
                                   placeholder="0x8a7E45F7c6723f644EeA5E0Cc45B70F27D9b812e" th:field="*{wallet}">
                        </div>
                        <div class="props_input_wrapper">
                            <label class="props_input_label" th:text="#{massage.coupon}">Купон</label>
                            <input type="text" id="props_coupon" class="input_general props_input"
                                   th:placeholder="#{placeholder.coupon.kod}" th:field="*{coupon}">
                        </div>
                    </div>
                    <div class="props_btn_start_exchange_wrapper">
                        <button type="submit" class="btn_general props_btn_start_exchange" th:text="#{massage.start.exchange.low}">начать обмен</button>
                        <p class="props_text_agree" th:text="#{massage.start.exchange}">Нажимая кнопку "Начать обмен", вы соглашаетесь с <a
                                class="rules_text"  th:text="#{massage.exchange.rules}">правилами обмена</a>,
                            <a class="rules_text"  th:text="#{massage.exchange.aml}">AML</a></p>
                    </div>
                </div>
            </form>
            <div class="shortcut_items_wrapper">
                <div class="shortcut_item_wrapper">
                    <div class="shortcut_item shortcut_item_1 js-shortcut_item">
                        <div class="shortcut_imgs-wrapper">
                            <div class="shortcut_img_coin_wrapper">
                                <img src="/images/bitcoin.png" alt="" class="shortcut_img_coin js-coin-from">
                            </div>
                            <div class="shortcut_img_arrow_wrapper">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                    <!--! Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                                    <path d="M438.6 278.6l-160 160C272.4 444.9 264.2 448 256 448s-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L338.8 288H32C14.33 288 .0016 273.7 .0016 256S14.33 224 32 224h306.8l-105.4-105.4c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160C451.1 245.9 451.1 266.1 438.6 278.6z"/>
                                </svg>
                            </div>
                            <div class="shortcut_img_coin_wrapper">
                                <img src="/images/solana.png" alt="" class="shortcut_img_coin js-coin-to">
                            </div>
                        </div>
                        <div class="shortcut_title_money_wrapper">
                            <p class="shortcut_money_text js-money-from">Bitcoin</p>
                            <p class="shortcut_money_text_on" >на</p>
                            <p class="shortcut_money_text js-money-to">Ethereum</p>
                        </div>
                        <div class="shortcut_btn_wrapper">
                            <button class="shortcut_btn js-shortcut-btn-exchange" data-shortcut-from="BTC"
                                    data-shortcut-to="ETH" th:text="#{button.exchange}">ОБМЕН
                            </button>
                        </div>
                    </div>
                </div>
                <div class="shortcut_item_wrapper">
                    <div class="shortcut_item shortcut_item_2 js-shortcut_item">
                        <div class="shortcut_imgs-wrapper">
                            <div class="shortcut_img_coin_wrapper">
                                <img src="/images/ethereum.PNG" alt="" class="shortcut_img_coin js-coin-from">
                            </div>
                            <div class="shortcut_img_arrow_wrapper">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                    <!--! Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                                    <path d="M438.6 278.6l-160 160C272.4 444.9 264.2 448 256 448s-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L338.8 288H32C14.33 288 .0016 273.7 .0016 256S14.33 224 32 224h306.8l-105.4-105.4c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160C451.1 245.9 451.1 266.1 438.6 278.6z"/>
                                </svg>
                            </div>
                            <div class="shortcut_img_coin_wrapper">
                                <img src="/images/usdtr.png" alt="" class="shortcut_img_coin js-coin-to">
                            </div>
                        </div>
                        <div class="shortcut_title_money_wrapper">
                            <p class="shortcut_money_text js-money-from">Ethereum</p>
                            <p class="shortcut_money_text_on">на</p>
                            <p class="shortcut_money_text js-money-to">USDT TRC20</p>
                        </div>
                        <div class="shortcut_btn_wrapper">
                            <button class="shortcut_btn js-shortcut-btn-exchange" data-shortcut-from="ETH"
                                    data-shortcut-to="USDT" th:text="#{button.exchange}">ОБМЕН
                            </button>
                        </div>
                    </div>
                </div>
                <div class="shortcut_item_wrapper">
                    <div class="shortcut_item shortcut_item_3 js-shortcut_item">
                        <div class="shortcut_imgs-wrapper">
                            <div class="shortcut_img_coin_wrapper">
                                <img src="/images/solana.png" alt="" class="shortcut_img_coin js-coin-from">
                            </div>
                            <div class="shortcut_img_arrow_wrapper">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                    <!--! Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                                    <path d="M438.6 278.6l-160 160C272.4 444.9 264.2 448 256 448s-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L338.8 288H32C14.33 288 .0016 273.7 .0016 256S14.33 224 32 224h306.8l-105.4-105.4c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160C451.1 245.9 451.1 266.1 438.6 278.6z"/>
                                </svg>
                            </div>
                            <div class="shortcut_img_coin_wrapper">
                                <img src="/images/usdtr.png" alt="" class="shortcut_img_coin js-coin-to">
                            </div>
                        </div>
                        <div class="shortcut_title_money_wrapper">
                            <p class="shortcut_money_text js-money-from">Solana</p>
                            <p class="shortcut_money_text_on">на</p>
                            <p class="shortcut_money_text js-money-to">USDT TRC20</p>
                        </div>
                        <div class="shortcut_btn_wrapper">
                            <button class="shortcut_btn js-shortcut-btn-exchange" data-shortcut-from="SOL"
                                    data-shortcut-to="USDT" th:text="#{button.exchange}">ОБМЕН
                            </button>
                        </div>
                    </div>
                </div>
                <div class="shortcut_item_wrapper">
                    <div class="shortcut_item shortcut_item_4 js-shortcut_item">
                        <div class="shortcut_imgs-wrapper">
                            <div class="shortcut_img_coin_wrapper">
                                <img src="/images/polkadot.PNG" alt="" class="shortcut_img_coin js-coin-from">
                            </div>
                            <div class="shortcut_img_arrow_wrapper">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                    <!--! Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                                    <path d="M438.6 278.6l-160 160C272.4 444.9 264.2 448 256 448s-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L338.8 288H32C14.33 288 .0016 273.7 .0016 256S14.33 224 32 224h306.8l-105.4-105.4c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160C451.1 245.9 451.1 266.1 438.6 278.6z"/>
                                </svg>
                            </div>
                            <div class="shortcut_img_coin_wrapper">
                                <img src="/images/ethereum.PNG" alt="" class="shortcut_img_coin js-coin-to">
                            </div>
                        </div>
                        <div class="shortcut_title_money_wrapper">
                            <p class="shortcut_money_text js-money-from">Polkadot</p>
                            <p class="shortcut_money_text_on">на</p>
                            <p class="shortcut_money_text js-money-to">Ethereum</p>
                        </div>
                        <div class="shortcut_btn_wrapper">
                            <button class="shortcut_btn js-shortcut-btn-exchange" data-shortcut-from="DOT"
                                    data-shortcut-to="ETH" th:text="#{button.exchange}">ОБМЕН
                            </button>
                        </div>
                    </div>
                </div>
                <div class="shortcut_item_wrapper">
                    <div class="shortcut_item shortcut_item_5 js-shortcut_item">
                        <div class="shortcut_imgs-wrapper">
                            <div class="shortcut_img_coin_wrapper">
                                <img src="/images/polkadot.PNG" alt="" class="shortcut_img_coin js-coin-from">
                            </div>
                            <div class="shortcut_img_arrow_wrapper">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                    <!--! Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                                    <path d="M438.6 278.6l-160 160C272.4 444.9 264.2 448 256 448s-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L338.8 288H32C14.33 288 .0016 273.7 .0016 256S14.33 224 32 224h306.8l-105.4-105.4c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160C451.1 245.9 451.1 266.1 438.6 278.6z"/>
                                </svg>
                            </div>
                            <div class="shortcut_img_coin_wrapper">
                                <img src="/images/solana.png" alt="" class="shortcut_img_coin js-coin-to">
                            </div>
                        </div>
                        <div class="shortcut_title_money_wrapper">
                            <p class="shortcut_money_text js-money-from">Polkadot</p>
                            <p class="shortcut_money_text_on">на</p>
                            <p class="shortcut_money_text js-money-to">Solana</p>
                        </div>
                        <div class="shortcut_btn_wrapper">
                            <button class="shortcut_btn js-shortcut-btn-exchange" data-shortcut-from="DOT"
                                    data-shortcut-to="SOL" th:text="#{button.exchange}">ОБМЕН
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="reviews_block">
            <div class="reviews_left_col">
                <h4 class="reviews_title" th:text="#{index.reviews.title}">Лучше всего за нас скажут отзывы наших клиентов</h4>
                <div class="reviews_items_wrapper">
                    <tr th:each="review : ${reviews}">
                        <div class="review_item">
                            <p class="review_item_title" th:text="${review.massage}">Здорово, самый лучший обменник ,
                                спасибо вам !</p>
                            <div class="review_item_name_rate">
                                <p class="review_item_name" th:text="${review.username}">Алексей</p>
                                <div class="review_item_rate">
                                    <i th:each="i : ${#numbers.sequence(1, review.rate)}">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                            <!--! Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                                            <path d="M381.2 150.3L524.9 171.5C536.8 173.2 546.8 181.6 550.6 193.1C554.4 204.7 551.3 217.3 542.7 225.9L438.5 328.1L463.1 474.7C465.1 486.7 460.2 498.9 450.2 506C440.3 513.1 427.2 514 416.5 508.3L288.1 439.8L159.8 508.3C149 514 135.9 513.1 126 506C116.1 498.9 111.1 486.7 113.2 474.7L137.8 328.1L33.58 225.9C24.97 217.3 21.91 204.7 25.69 193.1C29.46 181.6 39.43 173.2 51.42 171.5L195 150.3L259.4 17.97C264.7 6.954 275.9-.0391 288.1-.0391C300.4-.0391 311.6 6.954 316.9 17.97L381.2 150.3z"/>
                                        </svg>
                                    </i>
                                </div>
                            </div>
                        </div>
                    </tr>
                </div>
            </div>
            <div class="reviews_right_col">
                <a href="/review/all" class="btn_general" th:text="#{button.reviews}">ПОСМОТРЕТЬ ВСЕ ОТЗЫВЫ</a>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="container">
        <div class="footer_wrapper">
            <div class="footer_top_row">
                <div class="footer_logo_wrapper">
                    <div class="logo_img_wrapper">
                        <a href="/">
                            <img src="/images/logo.png" alt="" class="logo_img">
                        </a>
                    </div>
                    <a href="/">
                        <p class="logo_text">HELMETSWAP</p>
                    </a>
                </div>
                <ul class="footer_col">
                    <li class="footer_col_item"><a href="/" th:text="#{button.start.exchange}">Начать обмен</a></li>
                    <li class="footer_col_item"><a href="/reserves" th:text="#{button.our.reserves}">Наши резервы</a></li>
                </ul>
                <ul class="footer_col">
                    <li class="footer_col_item"><a href="/rules" th:text="#{button.rules}">Правила</a></li>
                    <li class="footer_col_item"><a href="/aml" th:text="#{massage.exchange.aml}">AML</a></li>
                </ul>
                <ul class="footer_col">
                    <li class="footer_col_item"><a href="/contacts" th:text="#{button.contacts}">Контакты</a></li>
                </ul>
            </div>
            <div class="footer_bottom_row">
                <p class="copyright">Copyright © 2022 HelmetSwap</p><br class="hidden_break">
                <a href="/privacy-policy" class="footer_bottom_rules" th:text="#{button.privacy.policy}">Политика конфиденциальности</a>
                <a href="/rules" class="footer_bottom_rules" th:text="#{button.terms.of.service}">Пользовательское соглашение</a>
            </div>
        </div>
    </div>
</footer>
<script src="/js/index.js"></script>
</body>
</html>