<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang=""><head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <title>Document</title>

</head>
<body>
    <header>
        <div class="container">
            <div class="header_block">
                <div class="logo_wrapper">
                    <div class="logo_img_wrapper">
                        <img src="/images/logo.png" alt="" class="logo_img">
                    </div>
                    <p class="logo_text">HELMETSWAP</p>
                </div>
                <nav class="nav_menu_wrapper">
                    <ul class="nav_menu">
                        <li class="nav_menu__item nav_menu__item_flag_wrapper"><img src="/images/ru.png" alt="" class="flag"></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <form th:action="@{/login}" method="post" class="login auth_form_container">
        <p class="auth_text">Вход на сайт</p>
        <div th:if="${param.error}">
            <div>
                Invalid username or password.
            </div>
        </div>

        <div>
            <input type="email"
                   class="email input_email input_general input_auth"
                   id="username"
                   name="username"
                   autofocus="autofocus"
                   placeholder="Ваш E-mail"
            />
        </div>
        <div>
            <input type="password"
                   class="password input_password input_general input_auth"
                   id="password"
                   name="password"
                   placeholder="Введите пароль"
            />
        </div>
        <a  th:href="@{/forgot/password}" class="forgot_passw_text">Забыли пароль?</a><br>

        <div class="auth_btns_wrapper">
            <button  type="submit" class="btn_general">ВОЙТИ</button>
            <a th:href="@{/registration}" class="btn_secondary">Регистрация</a>
        </div>
    </form>

</body>
</html>