<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <title>Document</title>

</head>
<body>
    <form th:action="@{/login}" method="post" class="login">
        <div th:if="${param.error}">
            <div>
                Invalid username or password.
            </div>
        </div>

        <div>
            <label for="username">Email</label>
            <input type="email"
                   class="email"
                   id="username"
                   name="username"
                   autofocus="autofocus"/>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password"
                   class="password"
                   id="password"
                   name="password"/>
        </div>

        <div>
            <button type="submit">
                Login
            </button>
        </div>
        <div>
            <a th:href="@{/forgetPassword}">Forgot your
                password?</a>
        </div>
        <div>
            <a th:href="@{/registration}">Register here</a>
        </div>
    </form>

</body>
</html>