<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="shortcut icon" href="/images/logo.ico" type="image/x-icon">
    <title th:text="#{title.reserves}">Document</title>
</head>
<body>
<div class="content">
    <header>
        <div class="container">
            <div class="header_block">
                <div class="logo_wrapper">
                    <div class="logo_img_wrapper">
                        <a href="/">
                            <img src="/images/logo.png" alt="" class="logo_img">
                        </a>
                    </div>
                    <a href="/">
                        <p class="logo_text">HELMETSWAP</p>
                    </a>
                </div>
                <nav class="nav_menu_wrapper">
                    <ul class="nav_menu">
                        <li class="nav_menu__item"><a href="/" class="nav_menu__item_link" th:text="#{button.do.exchange}">Выполнить
                            обмен</a></li>
                        <li class="nav_menu__item"><a href="/reserves" class="nav_menu__item_link"
                                                      th:text="#{button.reserves}">Резервы</a></li>

                        <li class="nav_menu__item nav_menu__item_flag_wrapper" th:if="${#locale.toString() == 'ru_RU'}">
                            <a th:href="@{${#httpServletRequest.requestURI}(lang='en_US')}">
                                <i><img src="/images/en.png" alt="" class="flag"></i>
                            </a>
                        </li>
                        <li class="nav_menu__item nav_menu__item_flag_wrapper" th:if="${#locale.toString() == 'en_US'}">
                            <a th:href="@{${#httpServletRequest.requestURI}(lang='ru_RU')}">
                                <i><img src="/images/ru.png" alt="" class="flag"></i>
                            </a>
                        </li>

                        <li sec:authorize="!isAuthenticated()">
                            <div class="nav_menu__item">
                                <a href="/registration" class="btn_authorization btn_general" th:text="#{button.authorization}">Авторизация</a>
                                <a href="/registration" class="btn_authorization_mobile"><img src="/images/user.svg" alt=""></a>
                            </div>
                        </li>
                        <li sec:authorize="hasAnyAuthority('ROLE_USER', 'ROLE_ADMIN')" class="btns_auth_wrapper">
                            <div>
                                <a href="/account/history" class="btn_cabinet_wrapper">
                                    <span class="btn_cabinet_user"><img src="/images/user-1.svg" alt=""></span>
                                    <div class="btn_cabinet_text">
                                        <p th:text="#{button.personal.account}">Личный кабинет</p>
                                        <div class="header_percent_wrapper">
                                            <div class="header_wallet">
                                                <span><img src="/images/wallet.png" alt=""></span>
                                                <span><span th:text="${walletAmount}"></span><span> $</span></span>
                                            </div>
                                            <div class="header_wallet header_margin">
                                                <span><img src="/images/percent.png" alt=""></span>
                                                <span><span th:text="${userMargin}"></span><span> %</span></span>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                            </div>
                            <div><a href="/logout" class="btn_logout">
                                <img src="/images/exit.png" alt="">
                            </a></div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div class="reserves">
        <div class="container">
            <div class="reserves__wrapper">
                <div class="reserves__block">
                    <tr th:each="coin : ${coins}">
                        <td>
                            <div class="reserves__item_wrapper">
                                <div class="reserves__item">
                                    <div class="reserves__item_left_col">
                                        <div class="reserves__item_img_wrapper">
                                            <img src="" alt="" class="reserves__item_img"
                                                 th:src="@{'https://exchanger-bucket.s3.eu-west-1.amazonaws.com/coin/image/'+${coin.symbol}}">
                                        </div>
                                        <p class="coin_name" th:text="${coin.name}">Bitcoin</p>
                                    </div>
                                    <div class="reserves__item_right_col">
                                        <span class="coin_amount" th:text="${coin.amount}">44</span>
                                        <span class="coin_amount" th:text="${coin.symbol}">BTC</span>
                                    </div>
                                    <div sec:authorize="hasAnyAuthority('ROLE_ADMIN')" class="reserves_btns_edit_wrapper">
                                        <span>+</span><span class="coin_amount"
                                                            th:text="${coin.margin}">0.000007</span><span>%</span>
                                        <a th:href="@{/reserves/update/{id}(id=${coin.id})}" type="button"
                                           class="coin_edit_btn">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                <!--! Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                                                <path d="M490.3 40.4C512.2 62.27 512.2 97.73 490.3 119.6L460.3 149.7L362.3 51.72L392.4 21.66C414.3-.2135 449.7-.2135 471.6 21.66L490.3 40.4zM172.4 241.7L339.7 74.34L437.7 172.3L270.3 339.6C264.2 345.8 256.7 350.4 248.4 353.2L159.6 382.8C150.1 385.6 141.5 383.4 135 376.1C128.6 370.5 126.4 361 129.2 352.4L158.8 263.6C161.6 255.3 166.2 247.8 172.4 241.7V241.7zM192 63.1C209.7 63.1 224 78.33 224 95.1C224 113.7 209.7 127.1 192 127.1H96C78.33 127.1 64 142.3 64 159.1V416C64 433.7 78.33 448 96 448H352C369.7 448 384 433.7 384 416V319.1C384 302.3 398.3 287.1 416 287.1C433.7 287.1 448 302.3 448 319.1V416C448 469 405 512 352 512H96C42.98 512 0 469 0 416V159.1C0 106.1 42.98 63.1 96 63.1H192z"/>
                                            </svg>
                                        </a>
                                        <a th:href="@{/reserves/delete/{id}(id=${coin.id})}" type="button"
                                           class="coin_edit_btn">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                                <!--! Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                                                <path d="M135.2 17.69C140.6 6.848 151.7 0 163.8 0H284.2C296.3 0 307.4 6.848 312.8 17.69L320 32H416C433.7 32 448 46.33 448 64C448 81.67 433.7 96 416 96H32C14.33 96 0 81.67 0 64C0 46.33 14.33 32 32 32H128L135.2 17.69zM394.8 466.1C393.2 492.3 372.3 512 346.9 512H101.1C75.75 512 54.77 492.3 53.19 466.1L31.1 128H416L394.8 466.1z"/>
                                            </svg>
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>

                </div>
                <div sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                    <div class="reserves_btn_add_block">
                        <a href="/reserves/add" class="reserves_btn_add btn_general" th:text="#{button.add}">Добавить</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="container">
        <div class="footer_wrapper">
            <div class="footer_top_row">
                <div class="footer_logo_wrapper">
                    <div class="logo_img_wrapper">
                        <a href="/">
                            <img src="/images/logo.png" alt="" class="logo_img">
                        </a>
                    </div>
                    <a href="/">
                        <p class="logo_text">HELMETSWAP</p>
                    </a>
                </div>
                <ul class="footer_col">
                    <li class="footer_col_item"><a href="/" th:text="#{button.start.exchange}">Начать обмен</a></li>
                    <li class="footer_col_item"><a href="/reserves" th:text="#{button.our.reserves}">Наши резервы</a></li>
                </ul>
                <ul class="footer_col">
                    <li class="footer_col_item"><a href="/rules" th:text="#{button.rules}">Правила</a></li>
                    <li class="footer_col_item"><a href="/aml" th:text="#{massage.exchange.aml}">AML</a></li>
                </ul>
                <ul class="footer_col">
                    <li class="footer_col_item"><a href="/contacts" th:text="#{button.contacts}">Контакты</a></li>
                </ul>
            </div>
            <div class="footer_bottom_row">
                <p class="copyright">Copyright © 2022 HelmetSwap</p><br class="hidden_break">
                <a href="/privacy-policy" class="footer_bottom_rules" th:text="#{button.privacy.policy}">Политика конфиденциальности</a>
                <a href="/rules" class="footer_bottom_rules" th:text="#{button.terms.of.service}">Пользовательское соглашение</a>
            </div>
        </div>
    </div>
</footer>
</body>
</html>