<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <title>Document</title>

</head>
<body>
<header>
    <div class="container">
        <div class="header_block">
            <div class="logo_wrapper">
                <div class="logo_img_wrapper">
                    <img src="/images/logo.png" alt="" class="logo_img">
                </div>
                <p class="logo_text">HELMETSWAP</p>
            </div>
            <nav class="nav_menu_wrapper">
                <ul class="nav_menu">
                    <li class="nav_menu__item"><a href="#" class="nav_menu__item_link">Выполнить обмен</a></li>
                    <li class="nav_menu__item"><a href="#" class="nav_menu__item_link">Резервы</a></li>
                    <li class="nav_menu__item nav_menu__item_flag_wrapper"><img src="/images/ru.png" alt=""
                                                                                class="flag"></li>
                    <li class="nav_menu__item"><a href="/registration"
                                                  class="btn_authorization btn_general">Авторизация</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<div class="reserves">
    <div class="container">
        <div class="reserves__wrapper">
            <div class="reserves__block">
                <tr th:each="coin : ${coins}">
                    <td>
                        <div class="reserves__item_wrapper">
                            <div class="reserves__item">
                                <div class="reserves__item_left_col">
                                    <div class="reserves__item_img_wrapper">
                                        <img src="" alt="" class="reserves__item_img">
                                    </div>
                                    <p class="coin_name" th:text="${coin.name}">Bitcoin</p>
                                </div>
                                <div class="reserves__item_right_col">
                                    <p class="coin_amount" th:text="${coin.amount}">44 BTC</p>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr th:each="coin : ${coins}">
                    <td>
                        <div class="reserves__item_wrapper">
                            <div class="reserves__item">
                                <div class="reserves__item_left_col">
                                    <div class="reserves__item_img_wrapper">
                                        <img src="" alt="" class="reserves__item_img">
                                    </div>
                                    <p class="coin_name" th:text="${coin.name}">Bitcoin</p>
                                </div>
                                <div class="reserves__item_right_col">
                                    <p class="coin_amount" th:text="${coin.amount}">44 BTC</p>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr th:each="coin : ${coins}">
                    <td>
                        <div class="reserves__item_wrapper">
                            <div class="reserves__item">
                                <div class="reserves__item_left_col">
                                    <div class="reserves__item_img_wrapper">
                                        <img src="" alt="" class="reserves__item_img">
                                    </div>
                                    <p class="coin_name" th:text="${coin.name}">Bitcoin</p>
                                </div>
                                <div class="reserves__item_right_col">
                                    <p class="coin_amount" th:text="${coin.amount}">44 BTC</p>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr th:each="coin : ${coins}">
                    <td>
                        <div class="reserves__item_wrapper">
                            <div class="reserves__item">
                                <div class="reserves__item_left_col">
                                    <div class="reserves__item_img_wrapper">
                                        <img src="" alt="" class="reserves__item_img">
                                    </div>
                                    <p class="coin_name" th:text="${coin.name}">Bitcoin</p>
                                </div>
                                <div class="reserves__item_right_col">
                                    <p class="coin_amount" th:text="${coin.amount}">44 BTC</p>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr th:each="coin : ${coins}">
                    <td>
                        <div class="reserves__item_wrapper">
                            <div class="reserves__item">
                                <div class="reserves__item_left_col">
                                    <div class="reserves__item_img_wrapper">
                                        <img src="" alt="" class="reserves__item_img">
                                    </div>
                                    <p class="coin_name" th:text="${coin.name}">Bitcoin</p>
                                </div>
                                <div class="reserves__item_right_col">
                                    <p class="coin_amount" th:text="${coin.amount}">44 BTC</p>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>

            </div>
            <div sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                <div class="reserves_btn_add_block">
                    <a href="/reserves/add" class="reserves_btn_add btn_general">Добавить</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>