<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="/images/logo.ico" type="image/x-icon">
    <title th:text="#{title.reviewsPage}">Document</title>

</head>
<body>
<div class="content">
    <header>
        <div class="container">
            <div class="header_block">
                <div class="logo_wrapper">
                    <div class="logo_img_wrapper">
                        <a href="/">
                            <img src="/images/logo.png" alt="" class="logo_img">
                        </a>
                    </div>
                    <a href="/">
                        <p class="logo_text">HELMETSWAP</p>
                    </a>
                </div>
                <nav class="nav_menu_wrapper">
                    <ul class="nav_menu">
                        <li class="nav_menu__item"><a href="/" class="nav_menu__item_link" th:text="#{button.do.exchange}">Выполнить
                            обмен</a></li>
                        <li class="nav_menu__item"><a href="/reserves" class="nav_menu__item_link"
                                                      th:text="#{button.reserves}">Резервы</a></li>

                        <li class="nav_menu__item nav_menu__item_flag_wrapper" th:if="${#locale.toString() == 'ru_RU'}">
                            <a th:href="@{${#httpServletRequest.requestURI}(lang='en_US')}">
                                <i><img src="/images/en.png" alt="" class="flag"></i>
                            </a>
                        </li>
                        <li class="nav_menu__item nav_menu__item_flag_wrapper" th:if="${#locale.toString() == 'en_US'}">
                            <a th:href="@{${#httpServletRequest.requestURI}(lang='ru_RU')}">
                                <i><img src="/images/ru.png" alt="" class="flag"></i>
                            </a>
                        </li>

                        <li sec:authorize="!isAuthenticated()">
                            <div class="nav_menu__item">
                                <a href="/registration" class="btn_authorization btn_general" th:text="#{button.authorization}">Авторизация</a>
                                <a href="/registration" class="btn_authorization_mobile"><img src="/images/user.svg" alt=""></a>
                            </div>
                        </li>
                        <li sec:authorize="hasAnyAuthority('ROLE_USER', 'ROLE_ADMIN')" class="btns_auth_wrapper">
                            <div>
                                <a href="/account/history" class="btn_cabinet_wrapper">
                                    <span class="btn_cabinet_user"><img src="/images/user-1.svg" alt=""></span>
                                    <div class="btn_cabinet_text">
                                        <p th:text="#{button.personal.account}">Личный кабинет</p>
                                        <div class="header_percent_wrapper">
                                            <div class="header_wallet">
                                                <span><img src="/images/wallet.png" alt=""></span>
                                                <span><span th:text="${walletAmount}"></span><span> $</span></span>
                                            </div>
                                            <div class="header_wallet header_margin">
                                                <span><img src="/images/percent.png" alt=""></span>
                                                <span><span th:text="${userMargin}"></span><span> %</span></span>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                            </div>
                            <div><a href="/logout" class="btn_logout">
                                <img src="/images/exit.png" alt="">
                            </a></div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div class="reviews_page_wrapper">
        <div class="container">
            <div class="reviews_page">
                <h2 class="reviews_page_title" th:text="#{massage.reviews.clients}">Отзывы наших клиентов</h2>
                <div class="reviews_page_row">
                    <div class="reviews_page_left_col">

                        <tr th:each="review : ${reviews}">
                            <div class="review_item">
                                <p class="review_item_title" th:text="${review.massage}">Здорово, самый лучший обменник , спасибо вам !</p>
                                <div class="review_item_name_rate">
                                    <p class="review_item_name" th:text="${review.username}">Алексей</p>

                                    <div class="review_item_rate_delete">
                                        <div class="review_item_rate">
                                            <i th:each="i : ${#numbers.sequence(1, review.rate)}">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!--! Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M381.2 150.3L524.9 171.5C536.8 173.2 546.8 181.6 550.6 193.1C554.4 204.7 551.3 217.3 542.7 225.9L438.5 328.1L463.1 474.7C465.1 486.7 460.2 498.9 450.2 506C440.3 513.1 427.2 514 416.5 508.3L288.1 439.8L159.8 508.3C149 514 135.9 513.1 126 506C116.1 498.9 111.1 486.7 113.2 474.7L137.8 328.1L33.58 225.9C24.97 217.3 21.91 204.7 25.69 193.1C29.46 181.6 39.43 173.2 51.42 171.5L195 150.3L259.4 17.97C264.7 6.954 275.9-.0391 288.1-.0391C300.4-.0391 311.6 6.954 316.9 17.97L381.2 150.3z"/></svg>
                                            </i>
                                        </div>

                                        <th:block sec:authorize="hasAuthority('ROLE_ADMIN')">
                                            <form th:action="@{/review/delete/{id}(id=${review.id})}" method="post" class="history_btn_wrapper history_item_btn_wrapper_remove">
                                                <input class="history_item_btn_wrapper"
                                                       type="submit" value="">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                                    <!--! Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                                                    <path d="M135.2 17.69C140.6 6.848 151.7 0 163.8 0H284.2C296.3 0 307.4 6.848 312.8 17.69L320 32H416C433.7 32 448 46.33 448 64C448 81.67 433.7 96 416 96H32C14.33 96 0 81.67 0 64C0 46.33 14.33 32 32 32H128L135.2 17.69zM394.8 466.1C393.2 492.3 372.3 512 346.9 512H101.1C75.75 512 54.77 492.3 53.19 466.1L31.1 128H416L394.8 466.1z"/>
                                                </svg>
                                            </form>
                                        </th:block>
                                    </div>
                                </div>

                            </div>
                        </tr>

                        <div class="pagination_wrapper">
                            <div th:if="${reviews.totalElements > 5}" class="pagination">
                                    <a class="pagination_item pagination_item__arrow_wrapper"
                                       th:if="${reviews.totalPages > 0}"
                                       th:href="@{/review/all(size=${reviews.size}, page=${1})}">
                                        <div class="pagination_item__arrow">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512">
                                                <!--! Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                                                <path d="M192 448c-8.188 0-16.38-3.125-22.62-9.375l-160-160c-12.5-12.5-12.5-32.75 0-45.25l160-160c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25L77.25 256l137.4 137.4c12.5 12.5 12.5 32.75 0 45.25C208.4 444.9 200.2 448 192 448z"/>
                                            </svg>
                                        </div>
                                    </a>
                                <th:block th:each="pageNumber : ${pageNumbers}">
                                    <a class="pagination_item"
                                            th:href="@{/review/all(size=${reviews.size}, page=${pageNumber})}"
                                            th:text="${pageNumber}" href="#"></a>
                                </th:block>

                                    <a class="pagination_item pagination_item__arrow_wrapper"
                                       th:if="${reviews.totalPages > 0}"
                                       th:href="@{/review/all(size=${reviews.size}, page=${reviews.totalPages})}">
                                        <div class="pagination_item__arrow">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                                <!--! Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                                                <path d="M96 480c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L242.8 256L73.38 86.63c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l192 192c12.5 12.5 12.5 32.75 0 45.25l-192 192C112.4 476.9 104.2 480 96 480z"/>
                                            </svg>
                                        </div>
                                    </a>
                            </div>
                        </div>


                    </div>
                    <div class="reviews_page_right_col">
                        <form action="" class="form_make_review" th:action="@{/review/new}" th:object="${review}"
                              method="post">
                            <h4 class="form_make_review_title" th:text="#{massage.make.reviews}">Оставить свой отзыв</h4>
                            <div class="form_make_review_rate">
                                <div class="rating-area">
                                    <input type="radio" id="starm-5" name="rating" value="5">
                                    <label for="starm-5" title="Оценка «5»" data-rate="5" class="js-set-rate"></label>
                                    <input type="radio" id="starm-4" name="rating" value="4">
                                    <label for="starm-4" title="Оценка «4»" data-rate="4" class="js-set-rate"></label>
                                    <input type="radio" id="starm-3" name="rating" value="3">
                                    <label for="starm-3" title="Оценка «3»" data-rate="3" class="js-set-rate"></label>
                                    <input type="radio" id="starm-2" name="rating" value="2">
                                    <label for="starm-2" title="Оценка «2»" data-rate="2" class="js-set-rate"></label>
                                    <input type="radio" id="starm-1" name="rating" value="1">
                                    <label for="starm-1" title="Оценка «1»" data-rate="1" class="js-set-rate"></label>
                                </div>
                                <input type="text" class="js-value-rate hidden-input-rate" th:field="*{rate}"><br>
                            </div>
                            <div class="form_make_review_input_wrapper_name form_make_review_input_wrapper">
                                <label th:text="#{massage.your.name}">Ваше имя</label>
                                <input type="text" th:placeholder="#{placeholder.name}" class="input_general"
                                       th:field="*{username}">
                            </div>
                            <div class="form_make_review_input_wrapper_name form_make_review_input_wrapper">
                                <label th:text="#{massage.your.review}">Ваш отзыв</label>
                                <textarea class="textarea_general" th:placeholder="#{placeholder.text.review}" cols="30"
                                          rows="10" th:field="*{massage}"></textarea>
                            </div>
                            <button class="btn_general" type="submit" th:text="#{button.send}">Отправить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="container">
        <div class="footer_wrapper">
            <div class="footer_top_row">
                <div class="footer_logo_wrapper">
                    <div class="logo_img_wrapper">
                        <a href="/">
                            <img src="/images/logo.png" alt="" class="logo_img">
                        </a>
                    </div>
                    <a href="/">
                        <p class="logo_text">HELMETSWAP</p>
                    </a>
                </div>
                <ul class="footer_col">
                    <li class="footer_col_item"><a href="/" th:text="#{button.start.exchange}">Начать обмен</a></li>
                    <li class="footer_col_item"><a href="/reserves" th:text="#{button.our.reserves}">Наши резервы</a></li>
                </ul>
                <ul class="footer_col">
                    <li class="footer_col_item"><a href="/rules" th:text="#{button.rules}">Правила</a></li>
                    <li class="footer_col_item"><a href="/aml" th:text="#{massage.exchange.aml}">AML</a></li>
                </ul>
                <ul class="footer_col">
                    <li class="footer_col_item"><a href="/contacts" th:text="#{button.contacts}">Контакты</a></li>
                </ul>
            </div>
            <div class="footer_bottom_row">
                <p class="copyright">Copyright © 2022 HelmetSwap</p><br class="hidden_break">
                <a href="/privacy-policy" class="footer_bottom_rules" th:text="#{button.privacy.policy}">Политика конфиденциальности</a>
                <a href="/rules" class="footer_bottom_rules" th:text="#{button.terms.of.service}">Пользовательское соглашение</a>
            </div>
        </div>
    </div>
</footer>
<script src="//code.tidio.co/npnx909lsqytqmhv5empuucr3bp47qhu.js" async></script>
<script src="/js/setRate.js"></script>
</body>
</html>