<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Document</title>

</head>
<body>
<div class="content">
    <header>
        <div class="container">
            <div class="header_block">
                <div class="logo_wrapper">
                    <div class="logo_img_wrapper">
                        <a href="/">
                            <img src="/images/logo.png" alt="" class="logo_img">
                        </a>
                    </div>
                    <a href="/">
                        <p class="logo_text">HELMETSWAP</p>
                    </a>
                </div>
                <nav class="nav_menu_wrapper">
                    <ul class="nav_menu">
                        <li class="nav_menu__item"><a href="#" class="nav_menu__item_link">Выполнить обмен</a></li>
                        <li class="nav_menu__item"><a href="/reserves" class="nav_menu__item_link">Резервы</a></li>
                        <li class="nav_menu__item nav_menu__item_flag_wrapper"><img src="/images/ru.png" alt=""
                                                                                    class="flag"></li>
                        <li sec:authorize="!isAuthenticated()">
                            <div class="nav_menu__item">
                                <a href="/registration" class="btn_authorization btn_general">Авторизация</a>
                                <a href="/registration" class="btn_authorization_mobile"><img src="/images/user.svg" alt=""></a>
                            </div>
                        </li>
                        <li sec:authorize="hasAnyAuthority('ROLE_USER', 'ROLE_ADMIN')" class="btns_auth_wrapper">
                            <div><a href="/account/history" class="btn_cabinet_wrapper"><span class="btn_cabinet_user"><img
                                    src="/images/user-1.svg" alt=""></span><div class="btn_cabinet_text">
                                <p>Личный кабинет</p>
                                <div class="header_wallet">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M448 32C465.7 32 480 46.33 480 64C480 81.67 465.7 96 448 96H80C71.16 96 64 103.2 64 112C64 120.8 71.16 128 80 128H448C483.3 128 512 156.7 512 192V416C512 451.3 483.3 480 448 480H64C28.65 480 0 451.3 0 416V96C0 60.65 28.65 32 64 32H448zM416 336C433.7 336 448 321.7 448 304C448 286.3 433.7 272 416 272C398.3 272 384 286.3 384 304C384 321.7 398.3 336 416 336z"/></svg>
                                    <span>0.06</span>
                                </div>
                            </div></a></div>
                            <div><a href="/logout" class="btn_logout">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <!--! Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                                    <path d="M160 416H96c-17.67 0-32-14.33-32-32V128c0-17.67 14.33-32 32-32h64c17.67 0 32-14.33 32-32S177.7 32 160 32H96C42.98 32 0 74.98 0 128v256c0 53.02 42.98 96 96 96h64c17.67 0 32-14.33 32-32S177.7 416 160 416zM502.6 233.4l-128-128c-12.51-12.51-32.76-12.49-45.25 0c-12.5 12.5-12.5 32.75 0 45.25L402.8 224H192C174.3 224 160 238.3 160 256s14.31 32 32 32h210.8l-73.38 73.38c-12.5 12.5-12.5 32.75 0 45.25s32.75 12.5 45.25 0l128-128C515.1 266.1 515.1 245.9 502.6 233.4z"/>
                                </svg>
                            </a></div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div class="container">
        <h1 class="rules_title">Правила</h1>
        <p class="rules_subtitle">1. Общие положения</p>
        <ol class="rules_list">
            <li>
                В этом Соглашении определяется последовательность предоставления услуг, связанных с обменом виртуальных денег,
                используя функционал Онлайн-сервиса.
            </li>
            <li>
                Под Онлайн-сервисом имеется в виду, размещенный на сайте, онлайн-ресурс, для транзакций цифровых средств –
                HelmetSwap.
            </li>
            <li>
                Стороны дают свое согласие на то, что данное Соглашение в электронной форме будет иметь равнозначную,
                юридическую силу с бумажным документом для урегулирования деловых взаимоотношений между Пользователями
                (юридическое либо частное лицо) и стороной, оказывающей услуги определенного типа (HelmetSwap).
            </li>
        </ol>
        <p class="rules_subtitle">2. Права и обязанности Сторон:</p>
        <ol class="rules_list">
            <li>
                Онлайн-сервис HelmetSwap должен:
            </li>
            <li>
                Выполнять конвертацию электронных валют онлайн-платежных систем с соблюдением стандартов, указанных в этом
                Соглашении.
            </li>
            <li>
                Снабжать Пользователя технической и информационной поддержкой в процессе проведения денежных переводов,
                используя ресурсы Онлайн-сервиса HelmetSwap.
            </li>
            <li>
                Не отдавать сведения о произошедших транзакциях третьим лицам.
            </li>
        </ol>
        <p class="rules_subtitle">3. Пользователь обязан:</p>
        <ol class="rules_list">
            <li>
                Давать настоящие данные и реальные реквизиты для быстрого и своевременного проведения денежных транзакций.
            </li>
            <li>
                Показывать верную информацию об используемом, электронном, почтовом ящике.
            </li>
            <li>
                Не использовать различные системы накрутки трафика.
            </li>
            <li>
                Совершать не более 3-х обменов в сутки.
            </li>
        </ol>
        <p class="rules_subtitle">4. Онлайн-сервис HelmetSwap обладает правом:</p>
        <ol class="rules_list">
            <li>
                Временно задерживать работу сайта, с целью его модернизации или для устранения ошибок, неполадок.
            </li>
            <li>
                Назначать размеры комиссии, которая подлежит к выплате за совершенные транзакции.
            </li>
            <li>
                Отказать вероятному Пользователю в оказании услугах не объясняя своих мотивов и действий.
            </li>
            <li>
                Прервать любое общение с Пользователем, который хамит, задает вопросы, не относящиеся к теме обсуждения, не
                подает нужных сведений в службу поддержки.
            </li>
        </ol>
    </div>
</div>
<footer>
    <div class="container">
        <div class="footer_wrapper">
            <div class="footer_top_row">
                <div class="footer_logo_wrapper">
                    <div class="logo_img_wrapper">
                        <a href="/">
                            <img src="/images/logo.png" alt="" class="logo_img">
                        </a>
                    </div>
                    <a href="/">
                        <p class="logo_text">HELMETSWAP</p>
                    </a>
                </div>
                <ul class="footer_col">
                    <li class="footer_col_item"><a href="/">Начать обмен</a></li>
                    <li class="footer_col_item"><a href="/reserves">Наши резервы</a></li>
                </ul>
                <ul class="footer_col">
                    <li class="footer_col_item"><a href="/rules">Правила</a></li>
                    <li class="footer_col_item"><a href="/aml">AML</a></li>
                </ul>
                <ul class="footer_col">
                    <li class="footer_col_item"><a href="/contacts">Контакты</a></li>
                </ul>
            </div>
            <div class="footer_bottom_row">
                <p class="copyright">Copyright © 2022 HelmetSwap</p>
                <a href="/privacy-policy" class="footer_bottom_rules">Политика конфиденциальности</a>
                <a href="/rules" class="footer_bottom_rules">Пользовательское соглашение</a>
            </div>
        </div>
    </div>
</footer>
</body>
</html>