<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Document</title>

</head>
<body>
<div class="content">
    <header>
        <div class="container">
            <div class="header_block">
                <div class="logo_wrapper">
                    <div class="logo_img_wrapper">
                        <a href="/">
                            <img src="/images/logo.png" alt="" class="logo_img">
                        </a>
                    </div>
                    <a href="/">
                        <p class="logo_text">HELMETSWAP</p>
                    </a>
                </div>
                <nav class="nav_menu_wrapper">
                    <ul class="nav_menu">
                        <li class="nav_menu__item"><a href="#" class="nav_menu__item_link">Выполнить обмен</a></li>
                        <li class="nav_menu__item"><a href="/reserves" class="nav_menu__item_link">Резервы</a></li>
                        <li class="nav_menu__item nav_menu__item_flag_wrapper"><img src="/images/ru.png" alt=""
                                                                                    class="flag"></li>
                        <li class="nav_menu__item">
                            <a href="/registration" class="btn_authorization btn_general">Авторизация</a>
                            <a href="/registration" class="btn_authorization_mobile"><img src="../static/images/user.svg" alt=""></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <form th:action="@{/reserves/update/coin}" th:object="${coin}" method="post" class="auth_form_container" enctype="multipart/form-data">
        <p class="auth_text">Обновить монету</p>

        <div>
            <input hidden th:value="${coin.id}"
                   type="text"
                   name="id"
                   placeholder="Bitcoin"
                   class="input_general input_auth"
            />
        </div>
        <div>
            <input th:value="${coin.name}"
                   type="text"
                   name="name"
                   placeholder="Bitcoin"
                   class="input_general input_auth"
            />
        </div>
        <div>
            <input th:value="${coin.amount}"
                   type="number" step="any"
                   name="amount"
                   placeholder="Количество монет"
                   class="input_general input_auth"
            />
        </div>
        <div>
            <input th:value="${coin.minAmount}"
                   type="number" step="any"
                   name="minAmount"
                   placeholder="Минимальное количество монет для торговли"
                   class="input_general input_auth"
            />
        </div>
        <div>
            <input th:value="${coin.symbol}"
                   type="text"
                   name="symbol"
                   placeholder="BTC"
                   class="input_general input_auth"
            />
        </div>
        <div>
            <input th:value="${coin.wallet}"
                   type="text"
                   name="wallet"
                   placeholder="bc1q5pyzwtk52c5sh4xhqw04w0cju6up5h6tf5dn3l"
                   class="input_general input_auth"
            />
        </div>
        <div>
            <input th:value="${coin.margin}"
                   type="number" step="any"
                   name="margin"
                   placeholder="Наценка на монету в процентах"
                   class="input_general input_auth"
            />
        </div>

        <div class="input_file_wrapper">
            <input type="file" multiple accept="image/*,image/jpeg" name="image" id="image" class="input-file">
            <label for="image" class="btn btn-tertiary js-labelFile">
                <i class="icon fa fa-check"></i>
                <span class="js-fileName">Загрузить изображение</span>
            </label>
        </div>
        <div class="input_file_wrapper">
            <input type="file" multiple accept="image/*,image/jpeg" name="qrcode" id="qrcode" class="input-file">
            <label for="qrcode" class="btn btn-tertiary js-labelFile">
                <i class="icon fa fa-check"></i>
                <span class="js-fileName">Загрузить qrcode</span>
            </label>
        </div>

        <div class="btn_add_coin_wrapper">
            <button type="submit" class="btn_general btn_add_coin">Обновить монету</button>
        </div>
    </form>
</div>
<footer>
    <div class="container">
        <div class="footer_wrapper">
            <div class="footer_top_row">
                <div class="footer_logo_wrapper">
                    <div class="logo_img_wrapper">
                        <a href="/">
                            <img src="/images/logo.png" alt="" class="logo_img">
                        </a>
                    </div>
                    <a href="/">
                        <p class="logo_text">HELMETSWAP</p>
                    </a>
                </div>
                <ul class="footer_col">
                    <li class="footer_col_item"><a href="/">Начать обмен</a></li>
                    <li class="footer_col_item"><a href="/reserves">Наши резервы</a></li>
                </ul>
                <ul class="footer_col">
                    <li class="footer_col_item"><a href="/rules">Правила</a></li>
                    <li class="footer_col_item"><a href="/aml">AML</a></li>
                </ul>
            </div>
            <div class="footer_bottom_row">
                <p class="copyright">Copyright © 2022 HelmetSwap</p>
                <a href="/privacy-policy" class="footer_bottom_rules">Политика конфиденциальности</a>
                <a href="/rules" class="footer_bottom_rules">Пользовательское соглашение</a>
            </div>
        </div>
    </div>
</footer>
<script src="../static/js/add_coin.js"></script>
</body>
</html>