<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <title>Document</title>

</head>
<body>
<header>
    <div class="container">
        <div class="header_block">
            <div class="logo_img_wrapper">
                <a href="/">
                    <img src="/images/logo.png" alt="" class="logo_img">
                </a>
            </div>
            <a href="/">
                <p class="logo_text">HELMETSWAP</p>
            </a>
            <nav class="nav_menu_wrapper">
                <ul class="nav_menu">
                    <li class="nav_menu__item nav_menu__item_flag_wrapper"><img src="/images/ru.png" alt=""
                                                                                class="flag"></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<form class="login auth_form_container" th:action="@{/user/reset/password}" method="post">
    <p class="auth_text">Восстановление пароля</p>
    <input id="password"
           type="password"
           class="input_email input_general input_auth"
           placeholder="Пароль"
           name="password"/>
    <span><input id="token" name="token" type="hidden"
                 th:value="${param.token}"/></span>
    <div class="auth_btns_wrapper">
        <button type="submit" class="btn_general btn_auth">Востановить пароль</button>
        <a href="/login" class="btn_secondary btn_auth">ВОЙТИ</a>
    </div>
</form>
</body>
</html>