<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="shortcut icon" href="/images/logo.ico" type="image/x-icon">
    <title th:text="#{title.updatePassword}">Document</title>

</head>
<body>
<div class="content">
    <header>
        <div class="container">
            <div class="header_block">
                <div class="logo_wrapper">
                    <div class="logo_img_wrapper">
                        <a href="/">
                            <img src="/images/logo.png" alt="" class="logo_img">
                        </a>
                    </div>
                    <a href="/">
                        <p class="logo_text">HELMETSWAP</p>
                    </a>
                </div>
                <nav class="nav_menu_wrapper">
                    <ul class="nav_menu">
                        <li class="nav_menu__item"><a href="/" class="nav_menu__item_link" th:text="#{button.do.exchange}">Выполнить
                            обмен</a></li>
                        <li class="nav_menu__item"><a href="/reserves" class="nav_menu__item_link"
                                                      th:text="#{button.reserves}">Резервы</a></li>

                        <li class="nav_menu__item nav_menu__item_flag_wrapper" th:if="${#locale.toString() == 'ru_RU'}">
                            <a th:href="@{${#httpServletRequest.requestURI}(lang='en_US')}">
                                <i><img src="/images/en.png" alt="" class="flag"></i>
                            </a>
                        </li>
                        <li class="nav_menu__item nav_menu__item_flag_wrapper" th:if="${#locale.toString() == 'en_US'}">
                            <a th:href="@{${#httpServletRequest.requestURI}(lang='ru_RU')}">
                                <i><img src="/images/ru.png" alt="" class="flag"></i>
                            </a>
                        </li>

                        <li sec:authorize="!isAuthenticated()">
                            <div class="nav_menu__item">
                                <a href="/registration" class="btn_authorization btn_general" th:text="#{button.authorization}">Авторизация</a>
                                <a href="/registration" class="btn_authorization_mobile"><img src="/images/user.svg" alt=""></a>
                            </div>
                        </li>
                        <li sec:authorize="hasAnyAuthority('ROLE_USER', 'ROLE_ADMIN')" class="btns_auth_wrapper">
                            <div>
                                <a href="/account/history" class="btn_cabinet_wrapper">
                                    <span class="btn_cabinet_user"><img src="/images/user-1.svg" alt=""></span>
                                    <div class="btn_cabinet_text">
                                        <p th:text="#{button.personal.account}">Личный кабинет</p>
                                        <div class="header_percent_wrapper">
                                            <div class="header_wallet">
                                                <span><img src="/images/wallet.png" alt=""></span>
                                                <span><span th:text="${walletAmount}"></span><span> $</span></span>
                                            </div>
                                            <div class="header_wallet header_margin">
                                                <span><img src="/images/percent.png" alt=""></span>
                                                <span><span th:text="${userMargin}"></span><span> %</span></span>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                            </div>
                            <div><a href="/logout" class="btn_logout">
                                <img src="/images/exit.png" alt="">
                            </a></div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <form class="login auth_form_container" th:action="@{/user/reset/password}" method="post">
        <p class="auth_text" th:text="#{button.restore.password}">Восстановление пароля</p>
        <input id="password"
               type="password"
               class="input_email input_general input_auth"
               th:placeholder="#{placeholder.enter.password}"
               name="password"/>
        <span><input id="token" name="token" type="hidden"
                     th:value="${param.token}"/></span>
        <div class="auth_btns_wrapper">
            <button type="submit" class="btn_general btn_auth" th:text="#{button.restore.password}">Востановить пароль</button>
            <a href="/login" class="btn_secondary btn_auth" th:text="#{button.login}">ВОЙТИ</a>
        </div>
    </form>
</div>
<footer>
    <div class="container">
        <div class="footer_wrapper">
            <div class="footer_top_row">
                <div class="footer_logo_wrapper">
                    <div class="logo_img_wrapper">
                        <a href="/">
                            <img src="/images/logo.png" alt="" class="logo_img">
                        </a>
                    </div>
                    <a href="/">
                        <p class="logo_text">HELMETSWAP</p>
                    </a>
                </div>
                <ul class="footer_col">
                    <li class="footer_col_item"><a href="/" th:text="#{button.start.exchange}">Начать обмен</a></li>
                    <li class="footer_col_item"><a href="/reserves" th:text="#{button.our.reserves}">Наши резервы</a></li>
                </ul>
                <ul class="footer_col">
                    <li class="footer_col_item"><a href="/rules" th:text="#{button.rules}">Правила</a></li>
                    <li class="footer_col_item"><a href="/aml" th:text="#{massage.exchange.aml}">AML</a></li>
                </ul>
                <ul class="footer_col">
                    <li class="footer_col_item"><a href="/contacts" th:text="#{button.contacts}">Контакты</a></li>
                </ul>
            </div>
            <div class="footer_bottom_row">
                <p class="copyright">Copyright © 2022 HelmetSwap</p><br class="hidden_break">
                <a href="/privacy-policy" class="footer_bottom_rules" th:text="#{button.privacy.policy}">Политика конфиденциальности</a>
                <a href="/rules" class="footer_bottom_rules" th:text="#{button.terms.of.service}">Пользовательское соглашение</a>
            </div>
        </div>
    </div>
</footer>
</body>
</html>