<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="shortcut icon" href="/images/logo.ico" type="image/x-icon">
    <title th:text="#{title.userPage}">Document</title>

</head>
<body>
<div class="content">
    <div class="header_mobile">
        <div class="header_mobile_wrapper">
            <div class="container">
                <div class="header_top_row">
                    <div class="burger_icon_wrapper js-burger-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M0 96C0 78.33 14.33 64 32 64H416C433.7 64 448 78.33 448 96C448 113.7 433.7 128 416 128H32C14.33 128 0 113.7 0 96zM0 256C0 238.3 14.33 224 32 224H416C433.7 224 448 238.3 448 256C448 273.7 433.7 288 416 288H32C14.33 288 0 273.7 0 256zM416 448H32C14.33 448 0 433.7 0 416C0 398.3 14.33 384 32 384H416C433.7 384 448 398.3 448 416C448 433.7 433.7 448 416 448z"/></svg>
                    </div>
                    <div class="logo_wrapper">
                        <div class="logo_img_wrapper">
                            <a href="/">
                                <img src="/images/logo.png" alt="" class="logo_img">
                            </a>
                        </div>
                        <a href="/">
                            <p class="logo_text">HELMETSWAP</p>
                        </a>
                    </div>
                    <div class="lang_cab_wrapper">
                        <ul class="mobile_lang_wrapper">
                            <li class="nav_menu__item nav_menu__item_flag_wrapper" th:if="${#locale.toString() == 'ru_RU'}">
                                <a th:href="@{${#httpServletRequest.requestURI}(lang='en_US')}">
                                    <i><img src="/images/en.png" alt="" class="flag"></i>
                                </a>
                            </li>
                            <li class="nav_menu__item nav_menu__item_flag_wrapper" th:if="${#locale.toString() == 'en_US'}">
                                <a th:href="@{${#httpServletRequest.requestURI}(lang='ru_RU')}">
                                    <i><img src="/images/ru.png" alt="" class="flag"></i>
                                </a>
                            </li>
                        </ul>
                        <div>
                            <div sec:authorize="!isAuthenticated()">
                                <a href="/registration" class="btn_authorization_mobile"><img src="/images/user.svg" alt=""></a>
                            </div>

                            <div sec:authorize="hasAnyAuthority('ROLE_USER', 'ROLE_ADMIN')" class="btns_auth_wrapper">
                                <div>
                                    <a href="/account/history" class="btn_cabinet_wrapper">
                                        <span class="btn_cabinet_user"><img src="/images/user-1.svg" alt=""></span>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--    <div class="burger_menu_wrapper js-burger-menu">-->

        <div class="overlay js-overlay"></div>
        <div class="burger_menu js-burger-menu">

            <ul class="menu_list_top">
                <li><a href="/" th:text="#{button.start.exchange}">Начать обмен</a></li>
                <li><a href="/reserves" th:text="#{button.our.reserves}">Наши резервы</a></li>
            </ul>
            <ul class="menu_list_middle">
                <li><a href="/rules" th:text="#{button.rules}">Правила</a></li>
                <li><a href="/aml" th:text="#{massage.exchange.aml}">AML</a></li>
                <li><a href="/contacts" th:text="#{button.contacts}">Контакты</a></li>
            </ul>
            <ul class="menu_list_bottom">
                <p class="copyright">Copyright © 2022 HelmetSwap</p>
                <a href="/privacy-policy" class="footer_bottom_rules" th:text="#{button.privacy.policy}">Политика конфиденциальности</a>
                <a href="/rules" class="footer_bottom_rules" th:text="#{button.terms.of.service}">Пользовательское соглашение</a>
            </ul>
            <!--          </div>-->
        </div>

    </div>
    <header>
        <div class="container header_desktop">
            <div class="header_block">
                <div class="logo_wrapper">
                    <div class="logo_img_wrapper">
                        <a href="/">
                            <img src="/images/logo.png" alt="" class="logo_img">
                        </a>
                    </div>
                    <a href="/">
                        <p class="logo_text">HELMETSWAP</p>
                    </a>
                </div>
                <nav class="nav_menu_wrapper">
                    <ul class="nav_menu">
                        <li class="nav_menu__item"><a href="/" class="nav_menu__item_link" th:text="#{button.do.exchange}">Выполнить
                            обмен</a></li>
                        <li class="nav_menu__item"><a href="/reserves" class="nav_menu__item_link"
                                                      th:text="#{button.reserves}">Резервы</a></li>

                        <li class="nav_menu__item nav_menu__item_flag_wrapper" th:if="${#locale.toString() == 'ru_RU'}">
                            <a th:href="@{${#httpServletRequest.requestURI}(lang='en_US')}">
                                <i><img src="/images/en.png" alt="" class="flag"></i>
                            </a>
                        </li>
                        <li class="nav_menu__item nav_menu__item_flag_wrapper" th:if="${#locale.toString() == 'en_US'}">
                            <a th:href="@{${#httpServletRequest.requestURI}(lang='ru_RU')}">
                                <i><img src="/images/ru.png" alt="" class="flag"></i>
                            </a>
                        </li>

                        <li sec:authorize="!isAuthenticated()">
                            <div class="nav_menu__item">
                                <a href="/registration" class="btn_authorization btn_general"
                                   th:text="#{button.authorization}">Авторизация</a>
                                <a href="/registration" class="btn_authorization_mobile"><img src="/images/user.svg" alt=""></a>
                            </div>
                        </li>
                        <li sec:authorize="hasAnyAuthority('ROLE_USER', 'ROLE_ADMIN')" class="btns_auth_wrapper">
                            <div>
                                <a href="/account/history" class="btn_cabinet_wrapper">
                                    <span class="btn_cabinet_user"><img src="/images/user-1.svg" alt=""></span>
                                    <div class="btn_cabinet_text">
                                        <p th:text="#{button.personal.account}">Личный кабинет</p>
                                        <div class="header_percent_wrapper">
                                            <div class="header_wallet">
                                                <span><img src="/images/wallet.png" alt=""></span>
                                                <span><span th:text="${walletAmount}"></span><span> $</span></span>
                                            </div>
                                            <div class="header_wallet header_margin">
                                                <span><img src="/images/percent.png" alt=""></span>
                                                <span><span th:text="${userMargin}"></span><span> %</span></span>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                            </div>
                            <div><a href="/logout" class="btn_logout">
                                <img src="/images/exit.png" alt="">
                            </a></div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="userPage">
            <div class="account_header">
                <h4 class="account_title" th:text="#{button.personal.account}">Личный кабинет</h4>
                <div class="account_header_btns_wrapper">
                    <ul class="account_header_btns">
                        <li class="account_header_btn"><a th:href="@{/account/history}" th:text="#{button.history}">История</a></li>
                        <li class="account_header_btn"><a th:href="@{/account/settings}" th:text="#{button.settings}">Настройки</a></li>
                        <th:block sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                            <li class="account_header_btn"><a th:href="@{/account/users}" th:text="#{button.users}">Пользователи</a></li>
                        </th:block>
                    </ul>
                </div>
            </div>
            <div class="users_items_wrapper">
                <tr th:each="user : ${users}">
                    <div class="user_item">
                        <form th:action="@{/user/update/wallet}" method="post" class="user_item_email_wallet_wrapper">
                            <input class="user_item_title" th:value="${user.email}" name="email">
                            <div class="input_wallet_wrapper">
                                <div class="wallet_img_wrapper user_item_img_wrapper">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                        <!--! Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                                        <path d="M448 32C465.7 32 480 46.33 480 64C480 81.67 465.7 96 448 96H80C71.16 96 64 103.2 64 112C64 120.8 71.16 128 80 128H448C483.3 128 512 156.7 512 192V416C512 451.3 483.3 480 448 480H64C28.65 480 0 451.3 0 416V96C0 60.65 28.65 32 64 32H448zM416 336C433.7 336 448 321.7 448 304C448 286.3 433.7 272 416 272C398.3 272 384 286.3 384 304C384 321.7 398.3 336 416 336z"/>
                                    </svg>
                                </div>
                                <input type="text" class="input_general input_edit_wallet"
                                       th:value="${user.walletAmount}" name="walletAmount">
                                <input type="text" class="input_general input_edit_wallet"
                                       th:value="${user.userMargin}" name="userMargin">
                                <div class="input_approve user_item_img_wrapper">
                                    <input type="submit" value="">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                        <!--! Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                                        <path d="M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z"/>
                                    </svg>
                                </div>
                            </div>
                        </form>
                        <th:block sec:authorize="hasAuthority('ROLE_ADMIN')">
                            <th:block th:if="${user.nonLocked} == true">
                                <form th:action="@{/user/lock}" method="post">
                                    <div class="block_user user_item_img_wrapper">
                                        <input value="" th:value="${user.email}" type="hidden" name="email">
                                        <button type="submit"></button>
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                            <!--! Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                                            <path d="M416 400V464C416 490.5 394.5 512 368 512H320V464C320 455.2 312.8 448 304 448C295.2 448 288 455.2 288 464V512H224V464C224 455.2 216.8 448 208 448C199.2 448 192 455.2 192 464V512H144C117.5 512 96 490.5 96 464V400C96 399.6 96 399.3 96.01 398.9C37.48 357.8 0 294.7 0 224C0 100.3 114.6 0 256 0C397.4 0 512 100.3 512 224C512 294.7 474.5 357.8 415.1 398.9C415.1 399.3 416 399.6 416 400V400zM160 192C124.7 192 96 220.7 96 256C96 291.3 124.7 320 160 320C195.3 320 224 291.3 224 256C224 220.7 195.3 192 160 192zM352 320C387.3 320 416 291.3 416 256C416 220.7 387.3 192 352 192C316.7 192 288 220.7 288 256C288 291.3 316.7 320 352 320z"/>
                                        </svg>
                                    </div>
                                </form>
                            </th:block>
                            <th:block th:if="${user.nonLocked} == false">
                                <form th:action="@{/user/unlock}" method="post">
                                    <div class="unlock_user user_item_img_wrapper">
                                        <input value="" th:value="${user.email}" type="hidden" name="email">
                                        <button type="submit"></button>
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                            <!--! Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                                            <path d="M352 192H384C419.3 192 448 220.7 448 256V448C448 483.3 419.3 512 384 512H64C28.65 512 0 483.3 0 448V256C0 220.7 28.65 192 64 192H288V144C288 64.47 352.5 0 432 0C511.5 0 576 64.47 576 144V192C576 209.7 561.7 224 544 224C526.3 224 512 209.7 512 192V144C512 99.82 476.2 64 432 64C387.8 64 352 99.82 352 144V192z"/>
                                        </svg>
                                    </div>
                                </form>
                            </th:block>
                        </th:block>
                    </div>
                </tr>
            </div>
        </div>
    </div>

</div>
<footer>
    <div class="container">
        <div class="footer_wrapper">
            <div class="footer_top_row">
                <div class="footer_logo_wrapper">
                    <div class="logo_img_wrapper">
                        <a href="/">
                            <img src="/images/logo.png" alt="" class="logo_img">
                        </a>
                    </div>
                    <a href="/">
                        <p class="logo_text">HELMETSWAP</p>
                    </a>
                </div>
                <ul class="footer_col">
                    <li class="footer_col_item"><a href="/" th:text="#{button.start.exchange}">Начать обмен</a></li>
                    <li class="footer_col_item"><a href="/reserves" th:text="#{button.our.reserves}">Наши резервы</a></li>
                </ul>
                <ul class="footer_col">
                    <li class="footer_col_item"><a href="/rules" th:text="#{button.rules}">Правила</a></li>
                    <li class="footer_col_item"><a href="/aml" th:text="#{massage.exchange.aml}">AML</a></li>
                </ul>
                <ul class="footer_col">
                    <li class="footer_col_item"><a href="/contacts" th:text="#{button.contacts}">Контакты</a></li>
                </ul>
            </div>
            <div class="footer_bottom_row">
                <p class="copyright">Copyright © 2022 HelmetSwap</p><br class="hidden_break">
                <a href="/privacy-policy" class="footer_bottom_rules" th:text="#{button.privacy.policy}">Политика конфиденциальности</a>
                <a href="/rules" class="footer_bottom_rules" th:text="#{button.terms.of.service}">Пользовательское соглашение</a>
            </div>
        </div>
    </div>
</footer>
<script src="/js/burger.js"></script>
<script src="//code.tidio.co/npnx909lsqytqmhv5empuucr3bp47qhu.js" async></script>
<script src="/js/order.js"></script>
</body>
</html>