@import 'mixins';
@import "fonts";

body {
  font-family: 'Cera Pro';
  background-image: url("../images/bc_main1.png");
  background-position: center center;
  background-size: 100% 100%;
  //
  //display: flex;
  //flex-direction: column;
}
.rules_list li {
  //font-family: 'CeraPRO-Regular';
}
.main-wrapper {
  background-image: url("../images/bc_main_sec.png");
  background-position: top right;
  background-size: 800px;
  background-repeat: no-repeat;
  //margin-top: 200px;
  //height: 100vh;
  //background-color: red;

  @include max-screen(sm) {
    background-size: 310px;
    background-position: center 110px;
  }
}
header {
  background-color: #FFFFFF;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.header_wallet img{
  width: 20px;
  height: 20px;
  margin-right: 8px;

}
.header_wallet {
  margin-top: 4px;
  display: flex;
  align-items: center;
  margin-left: 3px;
}
.header_percent_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}
.header_margin {
  margin-left: 8px;
}
.container {
  max-width: 1180px;
  margin: 0 auto;

  @include max-screen(lg) {
    width: 970px;
  }
  @include max-screen(md) {
    width: 760px;
  }
  @include max-screen(sm) {
    width: 460px;
  }
  @include max-screen(xs) {
    width: 350px;
  }
}
.header_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;

}
.logo {
  &_wrapper {
    display: flex;
    align-items: center;

    @include max-screen(md) {
      margin-left: 5px;
    }
  }
  &_img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;

    &_wrapper {
      width: 50px;
      height: 50px;

      @include max-screen(md) {
        width: 35px;
        height: 35px;
      }

      @include max-screen(xs) {
        width: 25px;
        height: 25px;
      }

    }
  }

  &_text {
    font-weight: bold;
    font-size: 30px;
    margin-left: 15px;
    color: #000000;

    @include max-screen(md) {
      font-size: 25px;
    }
    @include max-screen(sm) {
      font-size: 20px;
      margin-left: 7px;
    }
    @include max-screen(xs) {
      font-size: 16px;
    }
  }

}
.flag {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}
.nav_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 -20px;

  @include max-screen(md) {
    padding: 0 -10px;
  }

  &__item {
    margin: 0 20px;

    @include max-screen(md) {
      margin: 0 10px;
    }

    &:hover {
      cursor: pointer;
    }

    &_flag_wrapper {
      width: 24px;
      height: 24px;
      border: 1px solid #CBCCCE;
      border-radius: 5px;

      @include max-screen(md) {
        width: 15px;
        height: 15px;
      }
    }

    &_link {
      font-size: 16px;
      font-weight: 500;
      color: #11181F;
      transition: 0.4s;

      @include max-screen(sm) {
        font-size: 12px;
      }
      @include max-screen(xs) {
        font-size: 10px;
      }

      &:hover {
        color: #0E82EF;
      }
    }
  }
}
.main {
  &_block {
    margin-top: 50px;

    @include max-screen(md) {
      margin-top: 30px;
    }

    @include max-screen(sm) {
      margin-top: 80px;
    }
  }
  &_title {
    font-size: 42px;
    font-weight: 500;
    line-height: 130%;
    margin-bottom: 20px;

    @include max-screen(md) {
      font-size: 36px;
      margin-bottom: 10px;
    }
  }
}
.subtitle {
  font-size: 18px;
  font-weight: 400;
  color: #585D62;
}
.form {

  &_left_col {
    //background: #FFFFFF;
    //border: 1px solid #B3DAFF;
    //box-shadow: 0 7px 25px rgb(30 120 255 / 25%);
    //border-radius: 15px;
    //padding: 15px;
    width: 32%;
    @include max-screen(sm) {
      width: 100%;
    }
  }

  &_exchange {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    flex-wrap: wrap;

    @include max-screen(md) {
      margin-top: 30px;
    }
    @include max-screen(sm) {
      margin-top: 15px;
    }
  }

  &_right_col {
    background: rgba(255, 255, 255, 0.65);
    border: 1px solid #D9DADB;
    box-shadow: inset -10px 10px 24px rgb(255 255 255 / 56%);
    backdrop-filter: blur(-3px);
    border-radius: 35px;
    padding: 30px;
    width: 67%;
    margin-top: 28px;

    @include max-screen(sm) {
      width: 100%;
      padding: 15px;
    }
  }
}
.props {
  &_inputs_wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &_input {
    width: 100%;

    &_wrapper {
      width: 32%;

      @include max-screen(md) {
        width: 100%;
      }
    }
    &_label {
      font-size: 16px;
      color: #11181F;
      margin-bottom: 5px;
      display: block;
    }
  }
  &_title {
    font-size: 26px;
    line-height: 130%;
    margin-bottom: 20px;

    @include max-screen(md) {
      font-size: 16px;
      margin-bottom: 10px;
    }
  }
  &_btn_start_exchange {
    &_wrapper {
      margin-top: 30px;
      display: flex;
      flex-wrap: wrap;

      @include max-screen(sm) {
        flex-direction: column;
      }
    }
  }
  &_text_agree {
    width: 40%;
    margin-left: 10px;
    font-size: 14px;
    align-self: center;

    @include max-screen(sm) {
      width: 100%;
      margin-top: 10px;
    }
  }
}
.dropdown {
  &_wrapper {
    position: relative;
  }
  &_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;

    &:hover {
      cursor: pointer;

      & .dropdown_title {
        color: blue;
      }
    }
    &_left_col {
      display: flex;
      align-items: center;
    }
  }
  &_img {
    &_coin {
      object-fit: cover;
      width: 100%;
      height: 100%;
      display: block;

      &_wrapper {
        width: 24px;
        height: 24px;
        object-fit: cover;
      }
    }
  }
  &_title {
    margin-left: 10px;
    font-size: 16px;
    color: #11181F;
    font-weight: 600;
  }
  &_input {
    background: #E5F2FF;
    border: none;
    padding-left: 15px;
    color: #0E82EF;
    font-size: 16px;
    font-weight: 600;
    box-shadow: inset 0 3px 0 rgb(0 0 0 / 3%);
    border-radius: 15px!important;
    height: 50px;
    width: 100%;

    &_wrapper {
      position: relative;
    }
  }
  &_footer {
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
  }
  &_text {
    font-size: 12px;
    color: #6c757d;

    &_amount {
      font-size: 12px;
      color: #11181F;
    }
    &_account {
      font-weight: bold;
    }
  }
  &_options {
    &_wrapper {
      display: none;
      position: absolute;
      top: 45px;
      left: 0;
      z-index: 100;
      //background-color: red;
      width: 100%;

      background: #fff;
      border: 1px solid #B3DAFF;
      box-shadow: 0 7px 25px rgb(30 120 255 / 25%);
      border-radius: 0 0 20px 20px;

      max-height: 400px;
      overflow-y: auto;
    }
  }
  &_option {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 15px;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;

    &_wrapper {
      &:last-of-type:hover  {
        border-radius: 0 0 20px 20px;
      }
    }

    &:hover {
      color: #1e2125;
      background-color: #e9ecef;
      cursor: pointer;


    }


    &_left_col {
      display: flex;

      & .dropdown_img_coin_wrapper {
        margin-left: 5px;
      }
    }
  }
  &_coin {
    &_name {
      color: #11181F;
      font-size: 16px;
      margin-left: 5px;
    }

    &_abbr {
      color: #888B8F;
      font-size: 12px;
      line-height: 17px;
    }
  }
  &_top {
    margin-bottom: 15px;
  }
  &_general {
    background: #FFFFFF;
    border: 1px solid #B3DAFF;
    box-shadow: 0 7px 25px rgb(30 120 255 / 25%);
    border-radius: 15px;
    padding: 15px;
    position: relative;

    @include max-screen(sm) {
      padding: 8px;
    }
  }
  &_arrow_img {
    transform: rotate(180deg);
  }
}
.coin_abbr {
  position: absolute;
  top: 0;
  right: 10px;
  font-weight: 500;
  font-size: 12px;
  color: #11181F;
  line-height: 50px;
}
.btn {
  &_general {
    display: block;
    padding: 0 30px;
    height: 53px;
    line-height: 53px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 1.1px;
    background: radial-gradient(71.55% 129.69% at 28.45% 74.22%, #8D54E0 0%, #8DC8FF 96.2%);
    box-shadow: 0 9px 20px rgb(142 95 227 / 40%);
    border-radius: 40px;
    transition: all .2s;
    border: 0;

    &:hover {
      box-shadow: 0 9px 20px rgb(142 95 227 / 40%);
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), radial-gradient(71.55% 129.69% at 28.45% 74.22%, #8D54E0 0%, #8DC8FF 96.2%);
    }
  }
  &_secondary {
    padding: 10px 40px;
    border-radius: 40px;
    font-weight: 700;
    font-size: 12px;
    line-height: 25px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    border: 2px solid #4122FF;
    color: #4122FF;
    transition: all .25s;

    &:hover {
      background: #4122FF;
      color: #fff;
      cursor: pointer;
    }
  }
  &_auth {
    @include max-screen(xs) {
      font-size: 10px;
      padding: 0 20px;
      height: 40px;
      line-height: 40px;
    }
  }
  &_add {
    &_coin {
      &_wrapper {
        display: flex;
        justify-content: center;
      }
    }
  }
  &_authorization {

    @include max-screen(sm) {
      display: none;
    }
    &_mobile {
      display: none;
      @include max-screen(sm) {
        display: block;
      }
    }
  }
  &_cabinet {
    &_wrapper {
      display: flex;
      align-items: center;
    }
    &_user {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      background: radial-gradient(71.55% 129.69% at 28.45% 74.22%, #8D54E0 0%, #8DC8FF 96.2%);
      box-shadow: 0 9px 20px rgb(142 95 227 / 40%);
      border-radius: 40px;
      transition: all .2s;
      border: 0;
      margin-right: 5px;
      padding-left: 2px;

      @include max-screen(sm) {
        width: 30px;
        height: 30px;
      }

      & img {
        width: 30px;
        height: 29px;

        @include max-screen(sm) {
          width: 15px;
          height: 15px;
        }
      }
    }
    &_text {
      color: #000000;
      margin-right: 5px;
      margin-left: 7px;

      @include max-screen(sm) {
        display: none;
      }
    }

  }
  &_logout {

    @include max-screen(sm) {
      margin-right: 5px;
      //display: none;
    }

    & img {
      width: 20px;
      height: 20px;

      margin-left: 10px;

      @include max-screen(sm) {
        width: 15px;
        height: 15px;
      }
    }
  }
  &_save {
    width: 100%;
  }
}
.btns_auth_wrapper {
  display: flex;
  //align-items: center;
}
.input {
  &_general {
    background: #FFFFFF;
    border: 1px solid #0E82EF;
    box-shadow: inset 0 3px 0 rgb(0 0 0 / 3%);
    border-radius: 15px;
    height: 50px;
    width: 100%;
    padding: 10px;
  }
  &_order {
    background: #FFFFFF;
    border: 1px solid #0E82EF;
    box-shadow: inset 0 3px 0 rgb(0 0 0 / 3%);
    border-radius: 15px!important;
    font-weight: 500;
    color: #11181F;
    padding-left: 45px;
    padding-top: 17px;
    font-size: 16px;
    height: 50px;
    width: 100%;

    &_wrapper {
      position: relative;
      margin-bottom: 20px;
    }
  }
}

.input_file_wrapper {
  margin-bottom: 20px;
  .btn-tertiary {
    color:#555;
    padding:0;
    line-height:40px;
    width:100%;
    margin:auto;
    display:block;
    border: 1px solid #0E82EF;
    border-radius: 15px;

  }

  .btn-tertiary:hover,.example-2 .btn-tertiary:focus {
    color:#888;
    border-color:#0E82EF;
    border-radius: 15px;

  }

  .input-file {
    width:.1px;
    height:.1px;
    opacity:0;
    overflow:hidden;
    position:absolute;
    z-index:-1;
  }

  .input-file + .js-labelFile {
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    padding:0 10px;
    cursor:pointer;
  }

  .input-file + .js-labelFile .icon:before {
    content:"\f093";
  }

  .input-file + .js-labelFile.has-file .icon:before {
    content:"\f00c";
    color:#5AAC7B;
  }
}
.opened {
  display: block;
}
.text_get {
  color: #8D54E0;
  font-size: 13px;
  line-height: 19.5px;
  margin-bottom: 10px;
  font-weight: 500;
}
.text_give {
  color: #0E82EF;
  font-size: 13px;
  line-height: 19.5px;
  margin-bottom: 10px;
  font-weight: 500;
}

.hidden {
  display: none;
}
.approved_acc {
  &_wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
  }
  &_title {
    width: 50%;
    text-align: center;
    margin-bottom: 30px;
    font-size: 25px;
    @include max-screen(sm) {
      width: 80%;
    }

  }
}
.error {
  &_wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
  }
  &_img {
    &_wrapper {
      width: 100px;
      height: 100px;
       & svg {
         display: block;
         width: 100%;
         height: 100%;
         object-fit: cover;
         fill: red;
       }
    }
  }
  &_text {
    font-size: 25px;
    color: red;
    font-weight: bold;
  }
}
.general_notification {
  text-align: center;
  margin-top: 100px;
  font-size: 25px;
  font-weight: 500;

  @include max-screen(md) {
    font-size: 18px;
  }
}

.rules {
  &_title {
    font-size: 42px;
    line-height: 130%;
    margin-bottom: 25px;
    font-weight: 700;

    @include max-screen(sm) {
      font-size: 30px;
    }
  }
  &_subtitle {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;

    @include max-screen(sm) {
      font-size: 12px;
    }
  }
  &_list {
    font-size: 16px;
    padding-left: 30px;
    margin-bottom: 20px;
    list-style-type: decimal;

    @include max-screen(sm) {
      font-size: 12px;
    }
  }
}
footer {
  background: #F5F6F6;
  padding-top: 50px;
  padding-bottom: 30px;

  @include max-screen(sm) {
    padding: 20px 0;
  }
}
.content {
  min-height: calc(100vh - 180px);
  @include max-screen(sm) {
    min-height: calc(100vh - 65px);
  }

}
.footer {
  &_top_row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    @include max-screen(md) {
      width: 90%;
    }
    @include max-screen(xs) {
      width: 100%;
      flex-wrap: wrap;
    }
  }
  &_bottom {
    &_row {
      margin-top: 30px;
      display: flex;
      width: 60%;
      justify-content: space-between;
      flex-wrap: wrap;

      @include max-screen(lg) {
        width: 80%;
      }

      @include max-screen(md) {
        width: 100%;
      }
      @include max-screen(xs) {
        margin-top: 10px;
        justify-content: center;
      }

      @include max-screen(sm) {
        align-items: center;
        flex-direction: column;
      }

      & .copyright {
        //@include max-screen(sm) {
        //  width: 100%;
        //}
      }
      & a {
        @include max-screen(sm) {
          //width: 100%;
        }
      }
    }
    &_rules {
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      color: #A7AAAC;
      border-bottom: 1px solid #A7AAAC;
      transition: all .2s;
      &:hover {
        color: #525252;
      }
      @include max-screen(xs) {
        font-size: 11px;
      }
    }
  }
  &_logo {
    &_wrapper {
      display: flex;
      //align-items: center;

      @include max-screen(xs) {
        width: 100%;
        justify-content: center;
        margin-bottom: 10px;
      }
    }
  }
  &_col {
    &_item {
      a {
        display: block;
        color: #11181F;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 5px;
        @include max-screen(sm) {
          font-size: 8px;
        }
        &:hover {
          color: #0E82EF;
        }
      }
    }
    &_img {
      &_uk {
        width: 105px;
        height: 25px;
        margin-top: 5px;

        @include max-screen(xs) {
          width: 80px;
          height: 20px;
        }
      }
      &_ssl {
        width: 115px;
        height: 50px;

        @include max-screen(xs) {
          width: 90px;
          height: 85px;
        }
      }
      &_verisign {
        width: 80px;
        height: 55px;

        @include max-screen(xs) {
          width: 80px;
          height: 45px;
        }
      }
      &_cams {
        width: 50px;
        height: 50px;
      }
    }
    &_imgs {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include max-screen(xs) {
        width: 100%;
      }
      & img {
        //width: 50px;
        //height: 20px;
      }

      & li {
        margin-left: 5px;
        margin-right: 5px;
      }
    }
  }
}
.copyright {
  font-size: 16px;
  color: #11181F;

  @include max-screen(xs) {
    font-size: 10px;
  }
}

.shortcut {
  &_img {
    &_arrow_wrapper {
      width: 15px;
      height: 10px;

      & svg {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
    }
    &_coin {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      &_wrapper {
        width: 65px;
        height: 65px;
      }
    }
  }
  &_imgs-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;

    @include max-screen(md) {
      //padding-left: 10px;
      //padding-right: 10px;

    }
  }
  &_items_wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
    flex-wrap: wrap;
    @include max-screen(md) {
      justify-content: center;
    }
    @include max-screen(sm) {
      margin-top: 30px;
      margin-bottom: 30px;
    }

  }
  &_item {
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: inset -10px 10px 24px rgb(255 255 255 / 56%);
    backdrop-filter: blur(12px);
    border-radius: 15px;
    padding: 15px 10px;
    text-align: center;

    &_1 {
      background: radial-gradient(71.55% 129.69% at 28.45% 74.22%, rgba(141, 84, 224, 0.5) 0%, rgba(141, 200, 255, 0.5) 96.2%);
    }
    &_2 {
      background: radial-gradient(71.55% 129.69% at 28.45% 74.22%, rgba(43, 72, 153, 0.5) 0%, rgba(255, 95, 00, 0.5) 96.2%);
    }
    &_3 {
      background: radial-gradient(71.55% 129.69% at 28.45% 74.22%, rgba(255, 139, 102, 0.4) 0%, rgba(237, 70, 200, 0.4) 100%);
    }
    &_4 {
      background: radial-gradient(71.55% 129.69% at 28.45% 74.22%, rgba(84, 224, 216, 0.5) 0%, rgba(141, 173, 255, 0.5) 96.2%);
    }
    &_5 {
      background: radial-gradient(71.55% 129.69% at 28.45% 74.22%, rgba(255, 208, 87, 0.5) 0%, rgba(255, 196, 141, 0.5) 96.2%);
    }
    &_wrapper {
      width: 19%;

      @include max-screen(md) {
        width: 30%;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
      }
      @include max-screen(sm) {
        width: 45%;
      }
      @include max-screen(xs) {
        width: 80%;
      }
    }
  }
  &_money {
    &_text {
      font-size: 18px;
      color: #11181F;
      font-weight: bold;

      &_on {
        font-size: 18px;
        color: #11181F;

        margin-top: 5px;
        margin-bottom: 5px;
      }
    }
  }
  &_title_money_wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  &_btn {
    width: 100%;
    border: none;
    background: #fff;
    text-decoration: none;
    display: block;
    font-weight: 600;
    color: #11181F;
    margin-top: 10px;
    font-size: 18px;
    line-height: 50px;
    border-radius: 25px;

    &:hover {
      background: rgba(255, 255, 255, .3);
      box-shadow: 0 0 3px rgb(0 0 0 / 70%);
    }
  }
}
.hidden_input-top {
  display: none;
}
.hidden_input-bottom {
   display: none;
 }

.order {
  &_page {
    &_wrapper {
      margin-top: 40px;
      margin-bottom: 50px;

      @include max-screen(sm) {
        margin-top: 100px;
      }
    }
    &_title {
      font-size: 26px;
      line-height: 130%;
      font-weight: bold;
      margin-bottom: 15px;
    }
    &_subtitle {
      font-size: 18px;
      font-weight: 400;
      color: #585D62;
      margin-bottom: 15px;
    }
    &_time {
      color: #11181F;
      font-size: 16px;

      &_left {
        font-weight: bold;
      }
    }
    &_header {
      margin-bottom: 40px;
    }
  }
  &_title {
    font-size: 17px;
    line-height: 130%;
    font-weight: bold;
    margin-bottom: 15px;
  }
  &_top_row {
    display: flex;
    justify-content: space-between;

    @include max-screen(xs) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  &_wallet_sum_wrapper {
    width: 70%;

    @include max-screen(xs) {
      width: 100%;
    }
  }
  &_input_title {
    position: absolute;
    left: 45px;
    font-size: 12px;
    color: #888B8F;
    top: 4px;
  }
  &_bottom_row {
    display: flex;
    width: 55%;
    justify-content: space-between;

    @include max-screen(lg) {
      width: 70%;
    }
    @include max-screen(md) {
      width: 90%;
    }
    @include max-screen(xs) {
      flex-wrap: wrap;
      width: 100%;
    }

    & .btn_general, .btn_secondary {
      @include max-screen(xs) {
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }
}
.copy_icon_wrapper {
  width: 24px;
  height: 24px;

  position: absolute;
  top: 12px;
  right: 12px;

  @include max-screen(lg) {
    width: 15px;
  }

  &:hover {
    cursor: pointer;
  }

  & svg {
    fill: #0E82EF;
  }
}
.qr_code {
  background-color: white;
  width: 185px;
  height: 185px;

  @include max-screen(lg) {
    width: 120px;
    height: 120px;
  }
  @include max-screen(md) {
    width: 90px;
    height: 90px;
  }

  &_wrapper {
    width: 25%;
  }
}

.order_coin_img_right_col {
  &_wrapper {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 12px;
    left: 10px;
  }
}
.order_hidden_input_abbr {
  display: none;
}
.settings {
  &_left_col {
    padding: 30px;
    background: #FFFFFF;
    border: 1px solid #B3DAFF;
    box-shadow: 0 7px 25px rgb(30 120 255 / 25%);
    border-radius: 15px;
    //min-height: 100%;
    @include max-screen(xs) {
      padding: 15px;
    }

    &_wrapper {
      width: 48%;
      @include max-screen(sm) {
        width: 100%;
        margin-bottom: 10px;
      }

    }
  }
  &_right_col {
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #D9DADB;
    box-shadow: inset -10px 10px 24px rgb(255 255 255 / 56%);
    border-radius: 35px;
    padding: 30px;
    font-size: 16px;
    line-height: 22.4px;

    @include max-screen(xs) {
      padding: 15px;
    }
    &_wrapper {
      width: 48%;
      @include max-screen(sm) {
        width: 100%;
      }
    }
  }
  &_subtitle {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
    text-align: left;
  }
  &_block_wrapper {
    margin-top: 50px;
    margin-bottom: 50px;

    @include max-screen(sm) {
      margin-top: 100px;
    }
  }
}
.settings_wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;

  @include max-screen(sm) {
    flex-direction: column;
    flex-wrap: wrap;
  }
  @include max-screen(xs) {
    margin-top: 10px;
  }
}
.account {
  &_header {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    flex-wrap: wrap;
    &_btns {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      &_wrapper {
        @include max-screen(sm) {
          width: 100%;
        }
      }

    }
    &_btn {
      a {
        font-size: 18px;
        line-height: 43px;
        color: #585D62;
        border-radius: 30px;
        transition: background .25s;
        display: inline-block;
        padding: 0 15px;
        margin-left: 5px;
        margin-right: 5px;

        @include max-screen(xs) {
          padding: 0 5px;
        }

        &:hover {
          cursor: pointer;
          background: #8D54E0;
          color: #fff;
        }
      }
    }
  }
  &_title {
    font-size: 42px;
    line-height: 35px;

    @include max-screen(sm) {
      width: 100%;
      font-size: 30px;
      text-align: center;
    }
  }
}

.history {
  &_item {
    display: flex;
    justify-content: space-between;

    @include max-screen(md) {
      flex-direction: column;
      align-items: center;
    }
    &_wrapper {
      padding: 20px 15px;
      background: #FFFFFF;
      border: 1px solid #B3DAFF;
      box-shadow: 0 7px 25px rgb(30 120 255 / 25%);
      border-radius: 20px;
      margin-bottom: 10px;
    }
    &_text {
      &_wrapper {
        display: flex;
        justify-content: space-between;
      }
    }
    &_left_col {
      //width: 50%;

      @include max-screen(md) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
    &_right_col {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 60%;

      @include max-screen(md) {
        display: none;
      }

      &_mobile {
        display: none;
        @include max-screen(md) {
          display: flex;
          flex-direction: column;
          width: 100%;
        }

        & .history_item_amount {
          @include max-screen(md) {
            text-align: center;
            font-size: 14px;
          }
        }

        & .history_item_result {
          @include max-screen(md) {
            text-align: center;
            font-size: 14px;
          }
        }

        & .history_item_wallet {
          @include max-screen(md) {
            font-size: 10px;
            line-height: 12px;
          }
        }



        &_coins {

          //display: none;

          display: flex;
          //align-items: center;
          justify-content: space-around;
          margin-top: 10px;

          & .history_item_wallet {
            //width: 55%;
          }
          & .coin_img_wrapper {
            width: 40%;
            display: flex;
            align-items: center;
            flex-direction: column;
          }

          & .history_item_img_wrapper__arrow1 {
            width: 20%;
          }
        }
      }

    }
    &_imgs_wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &_img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      &_wrapper {
        width: 54px;
        height: 54px;
        display: block;

        &__arrow {
          width: 24px;
          margin-left: 5px;
          margin-right: 5px;

          & svg {
            fill: #0d6efd;
          }
        }
      }
    }
    &_title {
      color: #8D54E0;
      font-size: 22px;
      margin-bottom: 5px;

      @include max-screen(md) {
        font-size: 14px;
      }
    }
    &_subtitle {
      color: #11181F;
      font-size: 16px;
      margin-bottom: 10px;
    }
    &_text {
      color: #11181F;
      font-size: 14px;
      &__time {
        margin-right: 15px;
      }
    }
    &_amount {
      font-size: 20px;
      line-height: 26px;
      font-weight: bold;
    }
    &_result {
      font-size: 20px;
      line-height: 26px;
      font-weight: bold;
      margin-left: 5px;
    }
    &_wallet {
      color: #A7AAAC;
      word-break: break-all;
      font-size: 12px;
      line-height: 18px;
    }
    &_btns_wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-left: 30px;


      &_desktop {
        @include max-screen(md) {
          display: none;
        }
      }
      &_mobile {
        display: none;

        @include max-screen(md) {
          display: flex;
          margin-top: 10px;
        }
      }
    }
    &_btn_wrapper {
      display: block;
      width: 15px;
      margin-left: 5px;
      margin-right: 5px;

      position: relative;
      z-index: 100;
      background-color: transparent;
      border: none;



      //position: absolute;

      //top:50%;
      //left:50%;
      //transform:translate(-50%, -50%);

      &:hover {
        cursor: pointer;
      }
      &_cancel svg {
        fill: red;
      }
      &_remove svg {
        fill: #0d6efd;
      }
      &_check svg {
        fill: green;
      }
    }
  }
  &_items_wrapper {
    margin-top: 50px;
    @include max-screen(xs) {
      margin-top: 20px;
    }
  }
  &_wrapper {
    margin-bottom: 50px;

    @include max-screen(sm) {
      margin-top: 100px;
    }
  }
  &_btn {
    &_wrapper {
      position: relative;
      //z-index: 50;
      margin: 0 5px;

      & svg {
        width: 20px;

        position: absolute;

        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
        z-index: 10;
      }

      & input {
        width: 20px;
        height: 20px;

        //background-color: transparent;
        //border: none;
      }
    }
  }
}
.checkPage_title {
  font-size: 22px;
  line-height: 130%;
  font-weight: bold;
}
.checkPage_btns {
  display: flex;
  width: 55%;
  justify-content: space-between;
  margin-top: 120px;

  @include max-screen(lg) {
    width: 70%;
  }
  @include max-screen(md) {
    width: 90%;
  }
  @include max-screen(sm) {
    width: 100%;
    margin-top: 10px;
  }
  @include max-screen(xs) {
    flex-wrap: wrap;
    justify-content: center;
  }
  & a {
    @include max-screen(xs) {
      width: 100%;
      margin-top: 10px;
      text-align: center;
    }
  }
}
.checkPage_text {
  margin-top: 20px;
  font-size: 16px;
  color: #11181F;
  & a {
    text-decoration: none;
    color: #8D54E0;
    font-weight: bold;
    transition: all .25s;

    &:hover {
      color: #409cf3;
      text-shadow: 1px 1px 1px #fff;
    }
  }
}
.support {
  &_page {
    margin-top: 30px;
    margin-bottom: 50px;

    @include max-screen(sm) {
      margin-top: 80px;
    }
  }
  &_title {
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 42px;
    line-height: 130%;

    @include max-screen(md) {
      font-size: 36px;
    }
    @include max-screen(xs) {
      font-size: 28px;
    }
  }
  &_subtitle {
    font-size: 18px;
    color: #585D62;
    font-weight: 500;
    margin-bottom: 30px;

    @include max-screen(xs) {
      font-size: 14px;
      margin-bottom: 15px;
    }
  }
  &_item {
    width: 32%;
    padding: 20px;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #B3DAFF;
    box-shadow: 0 7px 25px rgb(30 120 255 / 25%);
    //min-height: 100%;
    text-align: center;
    color: #11181F;
    font-size: 16px;

    @include max-screen(lg) {
      font-size: 14px;
    }
    @include max-screen(md) {
      width: 100%;
      margin-bottom: 10px;
    }


    &_title {
      font-size: 18px;
      text-align: center;
      font-weight: 500;
    }
    & a {
      font-size: 26px;
      line-height: 45px;
      color: #11181F;
      font-weight: 500;

      @include max-screen(lg) {
        font-size: 20px;
      }
      @include max-screen(md) {
        font-size: 16px;
      }

      &:hover {
        color: #5d62db;
      }
    }
  }
  &_items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;

    @include max-screen(md) {
      flex-direction: column;
    }

  }
}
.rules_text {
  color: #585D62;
  text-decoration: underline;
}
.rules_container {
  margin-top: 50px;
  margin-bottom: 100px;
  @include max-screen(sm) {
    margin-top: 80px;
  }
}
.reviews {
  &_title {
    margin-bottom: 40px;
    font-size: 26px;
    line-height: 130%;
    font-weight: bold;

    @include max-screen(sm) {
      margin-bottom: 20px;
      font-size: 20px;
    }
  }
  &_block {
    display: flex;
    margin-bottom: 50px;
    flex-wrap: nowrap;

    background-image: url("../images/reviews.png");
    background-position: top right;
    background-size: 560px;
    background-repeat: no-repeat;

    @include max-screen(sm) {
      margin-bottom: 20px;
      flex-wrap: wrap;
    }

    @include max-screen(md) {
      background: none;
    }
  }
  &_left_col {
    width: 60%;
    @include max-screen(md) {
      width: 100%;
    }
  }
  &_right_col {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    @include max-screen(md) {
      width: 100%;
    }
  }
  &_page {
    &_wrapper {
      margin-top: 50px;
      margin-bottom: 50px;
    }
    &_title {
      font-size: 42px;
      line-height: 130%;
      font-weight: 500;
      margin-bottom: 10px;

      @include max-screen(sm) {
        font-size: 30px;
      }
      @include max-screen(xs) {
        font-size: 20px;
      }
    }
    &_right_col {
      padding: 25px;
      background: rgba(255, 255, 255, 0.2);
      border: 1px solid #D9DADB;
      box-shadow: inset -10px 10px 24px rgb(255 255 255 / 56%);
      border-radius: 15px;
      width: 48%;

      @include max-screen(sm) {
        width: 100%;
        order: 0;
      }
      @include max-screen(xs) {
        padding: 15px;
      }

      .rating-area:not(:checked) > input {
        display: none;
      }
      .rating-area:not(:checked) > label {
        float: right;
        width: 30px;
        padding: 0;
        cursor: pointer;
        font-size: 20px;
        line-height: 32px;
        color: lightgray;
        text-shadow: 1px 1px #bbb;
      }
      .rating-area:not(:checked) > label:before {
        content: '★';
      }
      .rating-area > input:checked ~ label {
        color: gold;
        text-shadow: 1px 1px #c60;
      }
      .rating-area:not(:checked) > label:hover,
      .rating-area:not(:checked) > label:hover ~ label {
        color: gold;
      }
      .rating-area > input:checked + label:hover,
      .rating-area > input:checked + label:hover ~ label,
      .rating-area > input:checked ~ label:hover,
      .rating-area > input:checked ~ label:hover ~ label,
      .rating-area > label:hover ~ input:checked ~ label {
        color: gold;
        text-shadow: 1px 1px goldenrod;
      }
      .rate-area > label:active {
        position: relative;
      }
    }
    &_left_col {
      width: 50%;

      @include max-screen(sm) {
        width: 100%;
        order: 1;
        margin-top: 20px;
      }
    }
    &_row {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      @include max-screen(sm) {
        flex-direction: column;
      }
    }
  }
}
.form {
  &_make {
    &_review {
      .rating-area {
        float: left;
      }
      &_title {
        margin-bottom: 10px;
        font-size: 26px;
        line-height: 130%;
        font-weight: 500;

        @include max-screen(sm) {
          font-size: 20px;
        }
      }
      &_input {
        &_wrapper {
          & label {
            color: #11181F;
            font-size: 16px;
            margin-bottom: 10px;
            display: block;
          }

          &_name {
            margin-top: 15px;
            margin-bottom: 30px;

            @include max-screen(xs) {
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }

}
.textarea_general {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-clip: padding-box;
  appearance: none;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  background: #FFFFFF;
  border: 1px solid #0E82EF;
  box-shadow: inset 0 3px 0 rgb(0 0 0 / 3%);
  border-radius: 15px!important;
  resize: none;
}
.review {
  &_item {
    //margin-top: 25px;
    backdrop-filter: blur(12px);
    padding: 25px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #D9DADB;
    box-shadow: inset -10px 10px 24px rgb(255 255 255 / 56%);
    border-radius: 15px;
    margin-bottom: 15px;

    &_title {
      font-size: 16px;
      color: #32383E;
      line-height: 18px;
    }
    &_name {
      font-size: 17px;
      font-weight: bold;
      &_rate {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: end;
      }
    }
    &_rate {
      display: flex;
      //width: 100px;
      //justify-content: space-between;

      & i {
        width: 15px;
        height: 15px;
        margin-left: 3px;
        margin-right: 3px;

        & svg path{
          fill: #e89e32;
        }
      }
    }
    &_rate_delete {
      display: flex;
    }
  }
}

.rating-area {
  //overflow: hidden;
  //width: 265px;
  //margin: 0 auto;
}
.rating-area:not(:checked) > input {
  display: none;
}
.rating-area:not(:checked) > label {
  float: right;
  width: 30px;
  padding: 0;
  cursor: pointer;
  font-size: 20px;
  line-height: 32px;
  color: gold;
  text-shadow: 1px 1px #bbb;
}
.rating-area:not(:checked) > label:before {
  content: '★';
}
//.rating-area > input:checked ~ label {
//  color: gold;
//  text-shadow: 1px 1px #c60;
//}
//.rating-area:not(:checked) > label:hover,
//.rating-area:not(:checked) > label:hover ~ label {
//  color: gold;
//}
//.rating-area > input:checked + label:hover,
//.rating-area > input:checked + label:hover ~ label,
//.rating-area > input:checked ~ label:hover,
//.rating-area > input:checked ~ label:hover ~ label,
//.rating-area > label:hover ~ input:checked ~ label {
//  color: gold;
//  text-shadow: 1px 1px goldenrod;
//}
//.rate-area > label:active {
//  position: relative;
//}
.pagination {
  display: flex;
  &_wrapper {
    margin-top: 50px;
    display: flex;
    justify-content: center;

    @include max-screen(sm) {
      margin-top: 15px;
    }
  }
  //justify-content: space-between;
   &_item {
     display: block;
     margin: 5px;
     text-align: center;
     vertical-align: middle;

     width: 46px;
     height: 46px;
     line-height: 40px;

     border-radius: 50%!important;
     padding: 0;
     border: 2px solid #4122FF;
     font-weight: 700;
     color: #4122FF;

     &:hover {
       background: radial-gradient(71.55% 129.69% at 28.45% 74.22%, #8D54E0 0%, #8DC8FF 96.2%);
       box-shadow: 0 9px 20px rgb(142 95 227 / 40%);
       border: 0;
       color: #fff;
       cursor: pointer;

       & .pagination_item__arrow {
         fill: white;
       }
     }

     &__arrow {
       width: 12px;
       fill: #1e2125;
       text-align: center;
       display: flex;

       &_wrapper{
         display: flex;
         justify-content: center;
         align-items: center;
       }
     }
   }
}

.active_page {
  background: radial-gradient(71.55% 129.69% at 28.45% 74.22%, #8D54E0 0%, #8DC8FF 96.2%);
  box-shadow: 0 9px 20px rgb(142 95 227 / 40%);
  border: 0;
  color: #fff;
}
.hidden-input-rate {
  display: none;
}
.hidden_break {
  display: none;
  //@include max-screen(sm) {
  //  display: block;
  //}
}

.user {
  &_item {
    padding: 20px 15px;
    background: #FFFFFF;
    border: 1px solid #B3DAFF;
    box-shadow: 0 7px 25px rgb(30 120 255 / 25%);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;

    @include max-screen(xs) {
      flex-wrap: wrap;
      justify-content: center;
    }

    &_img_wrapper {
      width: 30px;
      height: 30px;

      position: relative;

      @include max-screen(sm) {
        width: 15px;
        height: 15px;
      }

      & input {
        width: 30px;
        height: 30px;
        position: relative;
        z-index: 2;
        background-color: transparent;
        border: none;

        @include max-screen(sm) {
          width: 15px;
          height: 15px;
        }

        &:hover {
          cursor: pointer;
        }
      }

      & button {
        width: 30px;
        height: 30px;
        position: relative;
        z-index: 2;
        background-color: transparent;
        border: none;

        @include max-screen(sm) {
          width: 15px;
          height: 15px;
        }
      }

      & svg {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
      }
    }
    &_email_wallet_wrapper {
      display: flex;
      align-items: center;

      @include max-screen(xs) {
        margin-bottom: 10px;
      }

    }
  }
}
.block_user {
  fill: red;
}
.unlock_user {
  fill: #1e2125;

  @include max-screen(sm) {
    margin-left: 10px;

  }
}
.input_approve {
  fill: green;
}
.input_edit_wallet {
  width: 50%;
  height: 40px;
  margin: 0 10px;

  @include max-screen(sm) {
    height: 25px;
  }
}
.input_wallet_wrapper {
  display: flex;
  align-items: center;
  //margin-left: 200px;

  @include max-screen(sm) {
    margin-left: 30px;
  }
}

.input_wallet_wrapper1 {
  margin-left: 0;
}
.users_items_wrapper {
  margin-top: 30px;
}

.js-btn-registration[disabled] {
  filter: grayscale(50%);

  &:hover {
    background: radial-gradient(71.55% 129.69% at 28.45% 74.22%, #8D54E0 0%, #8DC8FF 96.2%);
    box-shadow: 0 9px 20px rgb(142 95 227 / 40%);
    cursor: auto;
  }
}

.aml {
  &_text {
    margin-bottom: 15px;
  }
  &_list {
    &_title {
      margin: 30px 0;
      padding-left: 15px;
    }
    &_marked {
      list-style-type: disc;
      padding-left: 30px;
    }
  }
}
.btn_cabinet_checkPage {
  display: block;
}
.aml_container {
  margin-top: 50px;
  margin-bottom: 100px;
  @include max-screen(sm) {
    margin-bottom: 50px;
  }
}
.burger_icon_wrapper {
  width: 20px;
  height: 20px;
}
.header {
  &_desktop {
    @include max-screen(sm) {
      display: none;
    }
  }
  &_mobile {
      &_wrapper {
        display: none;
        background-color: white;
        padding: 10px 0;

        @include max-screen(sm) {
          display: block;
          padding: 20px 0;
          position: fixed;
          top: 0;
          left: 0;
          right: 0;
          z-index: 1000;
          //background-color: white;
      }
    }
  }
  &_top_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
  }
}
.lang_cab_wrapper {
  display: flex;
}
.burger {
  &_menu {
    background-color: white;
    //width: 300px;

    padding: 20px;
    position: fixed;
    top: 60px;
    z-index: 10000;
    height: 100%;
    //display: none;

    //height: 100vh;
    //transition: transform 0.3s;
    transition: all .25s;
    max-width: 0;
    opacity: 0;

    &_wrapper {
      //display: none;
      //transform: translateX(-100%);
      //transition: transform 0.3s;
      //max-width: 0;
      //opacity: 0;
    }
  }
}
.overlay {
  background: radial-gradient(71.55% 129.69% at 28.45% 74.22%, rgba(141, 84, 224, 0.6) 0%, rgba(141, 200, 255, 0.6) 96.2%);
  //max-width: 400px;
  display: none;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;


}
.activeBurger {
    //display: block;

  //transform: translateX(0);
  max-width: 300px;
  opacity: 1;

  //transform: translateX(-100%);
  //transition: transform 0.5s;
}
.activeOverlay {
  display: block;
}
.menu {
  &_list {
    &_top {
      & a {
        font-size: 13px;
        font-weight: 500;
        line-height: 19.5px;
        text-decoration: none;
        display: block;
        margin-bottom: 10px;
        color: #11181F;

        &:hover {
          color: #0E82EF;
        }
      }
    }
    &_middle {
      margin-top: 20px;
      & a {
        color: #11181F;
        font-weight: 400;
        font-size: 11px;
        line-height: 16.5px;
        text-decoration: none;
        display: block;
        margin-top: 10px;

        &:hover {
          color: #0E82EF;

        }
      }
    }
    &_bottom {
      margin-top: 20px;

      & .copyright {
        color: #A7AAAC;
      }
    }
  }
}
.mobile_lang_wrapper {
  display: flex;
  align-items: center;
}
.mobile_balance_wrapper {
  width: 100%;
  margin: 10px 0;

  display: none;

  @include max-screen(sm) {
    display: block;
  }

  & .btn_logout {
    display: flex;

    & span {
      text-decoration: underline;
      margin-left: 3px;
    }
  }
}
.wallet_text {
  word-break: break-all;
}

.fast_exchanges {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  margin-bottom: 70px;
  align-items: center;

  @include max-screen(sm) {
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  &_right_col {
    width: 50%;
    @include max-screen(sm) {
      width: 100%;
    }
  }
  &_left_col {
    @include max-screen(sm) {
      display: flex;
      margin-bottom: 30px;
      width: 100%;
      justify-content: center;
    }
  }
  &_img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    &_wrapper {
      width: 400px;
      //height: 450px;

      @include max-screen(sm) {
        width: 200px;
      }
    }
  }
  &_block_text {
    border-radius: 35px;
    padding: 60px 70px;
    backdrop-filter: none;
    //background-color: white;
    box-shadow: 0 7px 25px rgb(141 84 224 / 25%);
    background: rgba(255, 255, 255, 0.7);

    @include max-screen(sm) {
      padding: 20px;
      background: rgba(255, 255, 255, 0.1);;
    }

    & h4 {
      font-size: 26px;
      line-height: 130%;
      margin-bottom: 20px;
    }
  }
}

.status_img_wrapper {
  width: 20px;
  height: 20px;

  @include max-screen(md) {
    display: flex;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.page {
  &_about {
    padding-top: 75px;
    padding-bottom: 75px;

    &_title {
      font-weight: 700;
      font-size: 48px;
      line-height: 56px;
      color: rgb(20, 22, 24);
      padding-bottom: 24px;
      text-align: center;
    }
    &_text {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 27.84px;
      color: rgb(20, 22, 24);
      padding-bottom: 48px;
      text-align: center;
    }
    &_block {
      display: flex;
      justify-content: space-between;

      @include max-screen(xs) {
        flex-direction: column;
        //position: relative;
      }
      &_wrapper {
        background-color: rgb(247, 248, 251);
        margin-bottom: 50px;
        color: rgb(20, 22, 24);
        border-radius: 12px;
        padding: 64px 35px 48px 48px;


        @include max-screen(xs) {
          padding: 20px;
        }

      }

      &_title {
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 36px;
        padding-bottom: 24px;
      }

      &_text {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 27.84px;
        max-width: 432px;
      }

      &_left_col {
        width: 60%;

        @include max-screen(xs) {
          width: 100%;
        }
      }
      &_right_col {
        width: 40%;
        display: flex;
        justify-content: center;

        @include max-screen(xs) {
          width: 100%;
        }
      }

      &_rights {
        &_title {
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          line-height: 28px;
          color: rgb(20, 22, 24);
          padding-bottom: 24px;
          text-align: center;
        }
        &_text {
          font-style: normal;
          font-weight: 300;
          font-size: 16px;
          line-height: 27.84px;
          color: rgb(93, 98, 109);
          text-align: center;
        }
      }
    }
    &_img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      &_wrapper {
        width: 335px;

        @include max-screen(xs) {
          width: 200px;
        }


        //height: 200px;
      }
    }
    &_management {
      &_title {
        margin-top: 100px;
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 56px;
        padding-bottom: 24px;
        color: rgb(20, 22, 24);
        text-align: center;
      }
      &_text {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 27.84px;
        color: rgb(20, 22, 24);
        padding-bottom: 60px;
        text-align: center;
      }
      &_images {
        display: flex;
        justify-content: space-between;

        @include max-screen(xs) {
          flex-direction: column;
        }
      }

      &_image {
        width: 100%;
        //height: 240px;
        border-radius: 50%;
        object-fit: cover;

        &_wrapper {
          width: 350px;
          margin-bottom: 20px;

          @include max-screen(xs) {
            width: 200px;
          }
        }
      }
    }
  }
}
.documentation {
  &_link {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: rgb(87, 102, 236);
    padding-right: 11px;
    &_wrapper {

    }
  }
}
.person {
  &_wrapper {
    width: 30%;

    @include max-screen(xs) {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

  }
  &_title {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    color: rgb(20, 22, 24);
    padding-bottom: 24px;
  }
  &_prof {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: rgb(20, 22, 24);
    padding-bottom: 24px;
  }
  &_description {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 27.84px;
    color: rgb(93, 98, 109);
    padding-bottom: 32px;
    max-width: 360px;

    @include max-screen(xs) {
      text-align: center;
    }
  }
}