*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
p {
  padding: 0;
  margin: 0;
}
body {
  min-height: 100vh;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;

  &:focus {
    outline: none;
  }
}

button {
  cursor: pointer;
}
a {
  text-decoration: none;
}