.reserves {
  &__item {
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    border: 1px solid #B3DAFF;
    box-shadow: 0 7px 25px rgb(30 120 255 / 25%);
    border-radius: 20px;
    padding: 10px 15px;
    margin-top: 10px;

    &_wrapper {
      width: 33%;
    }

  }

  &__block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &_btn_add {
    &_block {
      margin-top: 50px;
    }
  }
}